@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

/* Remove border click effect for Daisy UI input */
input:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}
textarea:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}
select:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}

.map-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f6f8;
}

::-webkit-scrollbar-thumb {
  background-color: #9eb0c2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* Map Styles */
@mixin unClusteredStyles($top: 83%) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  padding: 8px;
  transition: transform 0.3s ease-in-out;

  .arrow {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 16px;
    height: 16px;
    z-index: 1;
    background-color: currentColor;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:hover {
    transform: scale(1.5);
  }

  &.active {
    transform: scale(1.5);
  }

  &.active .arrow {
    opacity: 1;
  }
}

.my-custom-popup {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  z-index: 666;
  max-width: 250px;

  .mapboxgl-popup-content {
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .mapboxgl-popup-tip {
    display: none;
    transform: rotate(180deg);
  }
}

.unClustered {
  @include unClusteredStyles;
  background-color: #fff;
  color: #fff;
  padding: 5px;
  width: 56px;
  height: 56px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
  }

  .arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 16px;
    height: 16px;
    z-index: 1;
    background-color: currentColor;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.5);

    .arrow {
      opacity: 1;
    }
  }
}

.unClustered-Node {
  @include unClusteredStyles;
}

.unClustered-Number {
  @include unClusteredStyles(88%);
}

.clustered {
  &:hover {
    border: 1px solid #002499;
    z-index: 10000;
  }
}

// walkthrough styles
.introjs-helperLayer {
  box-shadow: 0 0 0 9999px rgba(89, 89, 89, 0.6) !important;
}

.introjs-tooltiptext {
  padding: 20px;
}

.introjs-tooltipbuttons {
  padding: 20px;
  background-color: #f9fafb;
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .introjs-button:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .introjs-prevbutton {
    border: 1px solid #bcbcbcec;
    border-radius: 0.25rem;
    text-shadow: none;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
  }

  .introjs-nextbutton {
    border-radius: 8px;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #145fff;
  }
}

.introjs-skipbutton,
.introjs-tooltip-header {
  display: none !important;
}
