@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove border click effect for Daisy UI input */
input:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}
textarea:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}
select:focus {
  border-color: transparent;
  box-shadow: none !important;
  outline: none !important;
}

.map-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f3f6f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9eb0c2;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* Map Styles */
.mapboxgl-popup.my-custom-popup {
  background-color: transparent;
  box-shadow: none;
}

.mapboxgl-popup.my-custom-popup .mapboxgl-popup-content {
  background-color: transparent;
  box-shadow: none;
}

.mapboxgl-popup.my-custom-popup .mapboxgl-popup-tip {
  display: block;
  transform: rotate(180deg);
}

/* Define the animation */
@keyframes customAni {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}

/* Apply the animation to the 'unclustered' class */
.unclustered {
  animation: customAni 2s ease-in-out 0s infinite normal none;
}
