@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove border click effect for Daisy UI input */
input:focus {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
textarea:focus {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
