// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


.pop-in {
  animation: pop-in 0.65s;
}
@keyframes pop-in {
  0% {
      transform: scale(0); 
  }
  45% {
      transform: scale(0);
  }
  90% {
      transform: scale(1.15);
  }
  100% {
      transform: scale(1);
  }
}

.pop-out {
  animation: pop-out 2.5s;
}
@keyframes pop-out {
  0% {
      transform: scale(1);
  }
  15% {
      transform: scale(0);
  }
  100% {
      transform: scale(0);
  }
}

.slide-up {
  top: 1000px;
  animation: slide_up 0.4s 0.0625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
@keyframes slide_up {
  from {
      top: 1000px;
  }
  to {
      top: 0px;
  }
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:          #488aff,
  secondary:        #32db64,
  danger:           #f53d3d,
  light:            #f4f4f4,
  dark:             #222,
  airqo_blue:       #5f9fc9,
  airqo_white:      #ffffff,
);

$airqo_light_blue:  #9bcfe9;
$airqo_faded_blue:  #929fb3;
$airqo_dark_blue:   #415c7b;
$airqo_dirty_white: #f0eff5;
$airqo_word_blue:   #76a2c9;
$airqo_slim_border: #efeef2;

$airqo_unavailable:                     #5d6355;
$airqo_unavailable_dark:                #434640;
$airqo_good:                            #abe261;
$airqo_good_dark:                       #759e3d;
$airqo_moderate:                        #fed74a;
$airqo_moderate_dark:                   #c0a333;
$airqo_unhealthy_sensitive_groups:      #ffa563;
$airqo_unhealthy_sensitive_groups_dark: #d48144;
$airqo_unhealthy:                       #ff7777;
$airqo_unhealthy_dark:                  #ce3e3c;
$airqo_very_unhealthy:                  #7c47b5;
$airqo_very_unhealthy_dark:             #5f2d94;
$airqo_hazardous:                       #930b15;
$airqo_hazardous_dark:                  #65060d;

$refresher-icon-color:                    $airqo_word_blue;
$refresher-text-color:                    $airqo_word_blue;


// App iOS Variables
// --------------------------------------------------

$toolbar-ios-title-text-color:            $airqo_word_blue;

$tabs-ios-tab-text-color-active:          $airqo_dark_blue;
$tabs-ios-tab-text-color:                 $airqo_word_blue;
$tabs-ios-tab-icon-color:                 $airqo_word_blue;
$tabs-ios-tab-icon-color-active:          $airqo_dark_blue;
$tabs-ios-tab-font-size: 14px;

$toolbar-ios-button-font-size: 1.2em;
$toolbar-ios-button-color: map-get($colors, airqo_blue);


// App Material Design Variables
// --------------------------------------------------





// App Windows Variables
// --------------------------------------------------





// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
