<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702081712633-3tgp25ii9bktfrtjbcm1ubn5s43dmu9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702081712633-3tgp25ii9bktfrtjbcm1ubn5s43dmu9t</string>
	<key>API_KEY</key>
	<string>AIzaSyB07U6kGkhTgUh8J-or_mYoRir2oTVvj7c</string>
	<key>GCM_SENDER_ID</key>
	<string>702081712633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airqo.net</string>
	<key>PROJECT_ID</key>
	<string>airqo-250220</string>
	<key>STORAGE_BUCKET</key>
	<string>airqo-250220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702081712633:ios:8ff0fdc991729ee0993d28</string>
	<key>DATABASE_URL</key>
	<string>https://airqo-250220.firebaseio.com</string>
</dict>
</plist>