@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --background: 246 246 247;
    --foreground: 28 29 32;
    --primary: 20 95 255;
    --primary-foreground: 255 255 255;
    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;
    --accent: 241 245 249;
    --accent-foreground: 15 23 42;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 20 95 255;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --popover: 255 255 255;
    --popover-foreground: 15 23 42;
    --text: 31 41 55;
    --heading: 16 24 40;

    /* Primary color variations for highlights */
    --primary-50: 239 246 255;
    /* Very light blue */
    --primary-100: 219 234 254;
    /* Light blue */
    --primary-700: 3 105 161;
    /* Dark blue */
    --primary-800: 7 89 133;
    /* Darker blue */
    --primary-900: 12 74 110;
    /* Darkest blue */

    /* Layout */
    --radius: 0.5rem;

    /* Scrollbars */
    /* --scrollbar-track: 241 245 249;
    --scrollbar-thumb: 100 116 139;
    --scrollbar-hover: 51 65 85; */
  }

  .dark {
    --background: 29 31 32;
    --foreground: 237 237 237;
    --primary: 20 95 255;
    --primary-foreground: 255 255 255;
    --secondary: 30 41 59;
    --secondary-foreground: 248 250 252;
    --muted: 30 41 59;
    --muted-foreground: 148 163 184;
    --accent: 30 41 59;
    --accent-foreground: 248 250 252;
    --destructive: 220 38 38;
    --destructive-foreground: 255 255 255;
    --border: 51 65 85;
    --input: 51 65 85;
    --ring: 20 95 255;
    --card: 29 31 32;
    --card-foreground: 248 250 252;
    --popover: 29 31 32;
    --popover-foreground: 248 250 252;
    --text: 249 250 251;
    --heading: 255 255 255;
    /* --scrollbar-track: 30 41 59;
    --scrollbar-thumb: 148 163 184;
    --scrollbar-hover: 51 65 85; */
  }
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

/* Animations */
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* HTML: spinner */
.SecondaryMainloader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--color-primary) 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--color-primary));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}
