page-map {

    #map {
      height: 100%;
    }

    .scroll {
      height: 100%;
    }

    .footer {
      color: $airqo_dark_blue;
      text-align: center;
      font-weight: 600;
    }

    // -----------------------------------------------------------------------------------------

    p {
        margin: 0;
    }
    table {
        min-width: 200px;
    }
    td {
        padding: 2%;
    }
    .button-td {
        text-align: center;
    }
    .button-td button {
      margin-top: 8px;
      color: $airqo_dark_blue;
      font-size: 1.2em;
      background-color: white;
      text-decoration: underline;
    }
    .marker {
      text-align: left;
      color: $airqo_dark_blue;
    }
    .title-marker-name {
      color: map-get($colors, dark);
      font-weight: 600;
    }
    .title-marker-reading {
      color: map-get($colors, dark);
      font-weight: 600;
    }
    .title-marker-label {
      color: map-get($colors, dark);
      font-weight: 600;
    }
    .marker-name {
      font-size: 1.2em;
      font-weight: 800;
    }
    .marker-reading {
      margin: 3% 0;
      font-size: 1.2em;
      font-weight: 800;
    }
    .marker-label {
      padding: 3px 10px;
      border-radius: 10px;
      font-size: 1.2em;
      font-weight: 800;
      color: map-get($colors, airqo_white);
    }

    // -----------------------------------------------------------------------------------------

    .unavailable {
      background-color: $airqo_unavailable;
    }
    .good {
      background-color: $airqo_good;
    }
    .moderate {
      background-color: $airqo_moderate;
    }
    .unhealthy-sensitive-groups {
      background-color: $airqo_unhealthy_sensitive_groups;
    }
    .unhealthy {
      background-color: $airqo_unhealthy;
    }
    .very-unhealthy {
      background-color: $airqo_very_unhealthy;
    }
    .hazardous {
      background-color: $airqo_hazardous;
    }

    // -----------------------------------------------------------------------------------------



}
