name: app
description: AirQo mobile application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# android test
version: 2.0.23+20040

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  shared_preferences: ^2.1.2
  google_maps_flutter: ^2.3.1
  json_annotation: ^4.8.1
  http: ^0.13.6
  cached_network_image: ^3.2.3
  geolocator: ^9.0.2
  flutter_local_notifications: ^14.1.1
  path_provider: ^2.0.15
  animations: ^2.0.7
  provider: ^6.0.5
  intl: any
  uuid: ^3.0.7
  flutter_svg: ^2.0.7
  image_picker: ^0.8.9
  country_list_pick: ^1.0.1+6
  shimmer: ^3.0.0
  google_fonts: ^4.0.4
  in_app_review: ^2.0.6
  lottie: ^2.4.0
  share_plus: ^7.0.2
  flutter_secure_storage: ^8.0.0
  flutter_dotenv: ^5.1.0
  auto_size_text: ^3.0.0
  firebase_core: ^2.14.0
  firebase_messaging: ^14.6.3
  cloud_firestore: ^4.8.1
  firebase_auth: ^4.6.3
  firebase_analytics: ^10.4.3
  firebase_storage: ^11.2.3
  package_info_plus: ^4.0.2
  webview_flutter: ^4.2.2
  hive: ^2.2.3
  retry: ^3.0.0
  hive_flutter: ^1.1.0
  firebase_in_app_messaging: ^0.7.3+3
  permission_handler: ^10.3.0
  workmanager: ^0.5.1
  flutter_cache_manager: ^3.3.0
  path: ^1.8.3
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  appinio_swiper: ^2.0.2
  firebase_dynamic_links: ^5.3.3
  showcaseview: ^2.0.3
  url_launcher: ^6.1.11
  hydrated_bloc: ^9.1.2
  firebase_crashlytics: ^3.3.1
  home_widget: ^0.3.0
  rating_dialog: ^2.0.4

  # Drift previous database => airqo_app_db.sqlite
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0
  flutter_lints: ^2.0.1
  build_runner: ^2.3.3
  json_serializable: ^6.6.0
  dart_code_metrics: ^5.5.0
  hive_generator: ^2.0.0
  bloc_test: ^9.1.1

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/
    - assets/icon/
    - assets/lottie/
    - .env.dev
    - .env.prod