<ion-header no-border>

  <ion-toolbar>
    <ion-title>AirQo Stations</ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-searchbar
      type="search"
      animated="true"
      autocomplete="on"
      placeholder="Search"
      [(ngModel)]="search_term" [formControl]="search_control" (ionInput)="onSearchInput()" 
      [hidden]="restProvider.show_skeleton == 1 || restProvider.show_no_internet == 1">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="{{ class.nodes_content }}">
  
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)" 
    [enabled]="(restProvider.show_skeleton == 0 && restProvider.show_refresh == 1) && restProvider.show_no_internet == 0">
    <ion-refresher-content pullingIcon="arrow-round-down"
    pullingText="Pull to refresh"
    refreshingSpinner="dots"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div [hidden]="restProvider.show_skeleton == 1">

    <div class="last-refresh-date-div">
      <p class="last-refresh-date">{{ last_refresh_date_words }}</p>
    </div>



    <!-- <ion-grid class="random-node">
      <ion-row class="rn-top-row">
        <ion-col>
          <p class="rn-title">Lukuli (Makindye) Area</p>
          <p class="rn-location">Kampala, Uganda</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <img src="assets/icons/happiness.png">
        </ion-col>
        <ion-col col-3>
          19.50
          <br/>
          PM2.5
        </ion-col>
        <ion-col col-6>
          Moderate
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          Last Refreshed: 12-Jun-2018 at 19:29hrs
        </ion-col>
        <ion-col col-2>
          <img src="assets/imgs/st-2-moderate.png">
        </ion-col>
      </ion-row>
    </ion-grid> -->


    

    <ion-card class="node-card" *ngFor="let node of nodes; let i = index" (click)="goToDetailsPage(node)">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-4 text-center class="title-node-reading {{ restProvider.nodeStatus(node.reading).class }}">
            <p class="title-node-label" text-wrap>{{ restProvider.nodeStatus(node.reading).label }}</p>
            <div class="title-node-face">
              <img src="{{ restProvider.nodeStatus(node.reading).image }}">
              <p text-wrap>{{ (node.reading | number:'1.1-2') }}<br/><span>PM2.5</span></p>
            </div>
          </ion-col>
          <ion-col col-8>
            <ion-row><ion-col><span class="area-title">{{ node.name }}</span></ion-col></ion-row>
            <ion-row><ion-col><span class="area-sub-title">{{ node.address }}</span></ion-col></ion-row>
            <ion-row class="nodes">
              <ion-col  col-4 class="avg-24">
                <p class="node-reading-title">24 hrs</p>
                <p class="node-reading-value {{ restProvider.nodeStatus(node.reading2).class }}">{{ node.reading2 }}</p>
                <p class="node-reading-image"><img src="{{ restProvider.nodeStatus(node.reading2).icon }}" /></p>
              </ion-col>
              <ion-col col-4 class="avg-1">
                <p class="node-reading-title">Past hr</p>
                <p class="node-reading-value {{ restProvider.nodeStatus(node.reading1).class }}"> {{ node.reading1 }}</p>
                <p class="node-reading-image"><img src="{{ restProvider.nodeStatus(node.reading1).icon }}" /></p>
              </ion-col>
              <ion-col col-4 class="avg-current">
                <p class="node-reading-title">Latest</p>
                <p class="node-reading-value {{ restProvider.nodeStatus(node.reading).class }}"> {{ node.reading }} </p>
                <p class="node-reading-image"><img src="{{ restProvider.nodeStatus(node.reading).icon }}" /></p>
              </ion-col>
            </ion-row>
            <ion-row class="last-update-date-time">
              <ion-col>
                <p>{{ restProvider.convertDate(node.time) }} EAT</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-card class="m-n" *ngFor="let i of [0,1,2,3,4,5]" [hidden]="restProvider.show_skeleton == 0">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <skeleton-item height="100px"></skeleton-item>
        </ion-col>
        <ion-col col-8>
          <ion-row><ion-col col-8><skeleton-item></skeleton-item></ion-col></ion-row>
          <ion-row>
            <ion-col>
              <br />
              <skeleton-item></skeleton-item>
            </ion-col>
            <ion-col>
              <br />
              <skeleton-item></skeleton-item>
            </ion-col>
            <ion-col>
              <br />
              <skeleton-item></skeleton-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <br />
              <skeleton-item></skeleton-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="no-internet" [hidden]="restProvider.show_no_internet == 0">
    <p>No Internet Connection</p>
  </div>

</ion-content>
