@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body,
html {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4d56;
  background: #f8f8fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
