page-add-node-subscription {


  .title {
    font-size: 2rem;
  }

  .area-title {
    font-size: 1.7rem;
    font-weight: 560;
  }

  .area-sub-title {
    font-size: 1.6rem;
    color: grey;
  }

}
