# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node modules and dependencies
node_modules
/.pnp
.pnp.js

# dotenv environment variables file
.env

# Ignore IDE/Editor folders
.idea
.vscode
*.swp
