<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689446743564-g67enlt3m2ce2hg19o7fiq7v7cvmojo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689446743564-g67enlt3m2ce2hg19o7fiq7v7cvmojo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpYoBfXpjBo9djgxPJvRynlwOIerdQy84</string>
	<key>GCM_SENDER_ID</key>
	<string>689446743564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airqo.net</string>
	<key>PROJECT_ID</key>
	<string>airqo-f4d46</string>
	<key>STORAGE_BUCKET</key>
	<string>airqo-f4d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689446743564:ios:872cc5995e87f666e6c829</string>
	<key>DATABASE_URL</key>
	<string>https://airqo-f4d46-default-rtdb.firebaseio.com</string>
</dict>
</plist>