.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80px;
    padding: 20px;
}
.darker {
    display: flex;
    align-items: center;
    color: #0f1019;
    padding: 0;
    margin: 0;
}

.c-pointer {
    cursor: pointer;
}

.dd-input {
  display: none;
}

.dd-answer {
    display: none;
}

.dd-input:checked ~ .dd-answer {
    display: block;
    transition: visibility 0.5s, opacity 0.5s linear
}