# .dockerignore for Next.js project
node_modules
.next
Dockerfile
.dockerignore
pnpm-debug.log
npm-debug.log
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
