*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family:OpenSans-regular;
    src: url(../fonts/OpenSans-Regular.ttf)
}
@font-face {
    font-family:OpenSans-bold;
    src: url(../fonts/OpenSans-Bold.ttf)
}
@font-face {
    font-family:OpenSans-light;
    src: url(../fonts/OpenSans-Light.ttf)
}
@font-face {
    font-family:OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf)
}
body{
    overflow-x: hidden;
    font-family:OpenSans-regular;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialised !important;
    
      /* The image used */
    background-image: url("../images/bakground.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    transition: all 500ms ease-in-out;
    display: inline-block;
}

a:hover,
a:active{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5{
    font-family:OpenSans-regular;
}

p{
    font-size: 15px;
    line-height: 21px;
    font-family:OpenSans-regular;
}
.btn{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important; 

}
.btn:hover{
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
    
}

.buzen-header{
  /* The image used */
 
    padding: 50px 0px 100px;
}
.buzen-header img{
    margin-left: auto;
    margin-right: 30%;
}
.buzen-header .col-md-8 .col-md-4,
.buzen-header .col-md-10 .col-md-4,
.buzen-header .col-md-10 .col-md-8,
.buzen-header .col-md-8 .col-md-8{
    padding: 0px;
}
.buzen-header .panel{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    border: none;
    background: #ffffff;
    margin: 0px;
    height: 400px;
}
.buzen-header .panel-success{
    
      /* The image used */
  background-image: url("../images/backsmall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
   
    
    border-top-right-radius: 0px;

    border-bottom-right-radius: 0px;
    color: #ffffff;
}
.buzen-header .panel-success h5{
    text-transform: uppercase;
    font-size: 10px;
    margin-left: -10px;
    margin-top: -10px;
}
.buzen-header .panel-success h3,
.buzen-header .panel-success p{
    padding-left: 15px;
    padding-right: 15px;
}
.buzen-header .panel-success h3{
    font-size: 20px;
    padding-top: 50%;
    color: #ffffff !important;
}
.buzen-header .panel-success .buzen-line{
    width: 50%;
    border: 1px solid #ffffff;
    margin: 20px auto;
}
.buzen-header .panel-success p{
    color: #ffffff !important;
    text-align: center;
    font-size: 13px;
    letter-spacing: .5px;
}
.buzen-header .panel-primary{
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    padding: 60px 70px;
}
.buzen-header .panel h3{
    margin-top: 0px;
    font-size: 25px;
    font-family: OpenSans-Regular;
    color: #002d59;
}
.buzen-header .panel-primary h3{
    font-family: OpenSans-Bold;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
}
.buzen-header .panel h4{
    font-size: 13px;
    text-align: center;
    color: #8e8e8e;
    margin-bottom: 20px;
    margin-top: 20px;
}
.buzen-header .panel .input-group{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.field-icon { font-family: 'Muli', FontAwesome, sans-serif; }
.buzen-header .panel input{
    padding: 5px 20px;
    height: 40px;
    background: #ecf4f7;
    border-radius: 2px !important;
    border: none;
}
.buzen-header .panel input::placeholder{
    color: #9e9e9e!important;
    font-size: 13px;
    text-transform: capitalize;
}
.buzen-header .panel .btn-primary{
    background: #002d59;
    border: 2px solid #002d59;
    color: #ffffff;
    border-radius: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-right: 30px;
}
.buzen-header .panel .btn-primary:hover{
    border: 2px solid #002d59 !important;
    color: #002d59 !important;
    background: none !important;
}
@media (max-width: 767px) {
    .buzen-header{
        padding: 10px 10px;
    }
    .buzen-header img{
        margin-right: auto;
    }
    .buzen-header .panel{
        height: auto;
    }
    .buzen-header .panel-success{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .buzen-header .panel-primary{
        padding: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
    }
    .buzen-header .panel-success h3{
        padding: 10px;
        text-align: center;
    }
}
/*other pages*/