<ion-header>
  <ion-navbar color="blue">
    <ion-buttons end>
      <button color="light" ion-button icon-only (click)="addToFavoritesList(node)">
        <ion-icon name="md-star" color="white" item-end [hidden]="is_favorite"></ion-icon>
        <span *ngIf="is_favorite">AIR QUALITY</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce [ngStyle] ="{'background-image' : 'url('+ api.nodeStatus(node.feeds.field1, node.refreshed).background +')'}">

  <!-- <ion-refresher (ionRefresh)="onlineLoadHistoryNodeInfo(); onlineLoadNodeForecastInfo()">
    <ion-refresher-content pullingIcon="arrow-round-down"
    pullingText="Pull to refresh"
    refreshingSpinner="dots"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
    
 <div class="top-section">

  <div class="place">
    <p class="place-name">{{ node.name }}</p>
    <p class="place-location">{{ node.location }}</p>
  </div>

  <ion-card class="node-card">
    <ion-grid class="node bg-white">
      <ion-row class="readings-section" [style.backgroundColor]="api.nodeStatus(node.feeds.field1, node.refreshed).color">
        <ion-col col-3 class="face bg-darker">
          <img [src]="api.nodeStatus(node.feeds.field1, node.refreshed).face"/>
        </ion-col>
        <ion-col col-4 class="values">
          <p class="number moderate-bold" [style.color]="api.nodeStatus(node.feeds.field1, node.refreshed).font_color">{{ node.feeds.field1 }}</p>
          <p class="number-label moderate-bold" [style.color]="api.nodeStatus(node.feeds.field1, node.refreshed).font_color">PM<sub>2.5</sub></p>
        </ion-col>
        <ion-col col-5 class="label">
          <p text-wrap class="value-label moderate-bold" [style.color]="api.nodeStatus(node.feeds.field1, node.refreshed).font_color">{{ api.nodeStatus(node.feeds.field1, node.refreshed).label }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="footer-section">
        <ion-col text-wrap class="date-section">
          <span class="node-refresh-date" *ngIf="node.refreshed">
            Last Refreshed: {{ api.ago(api.getReadableInternationalDateFormatFromSQLFormat(node.refreshed)) }}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card class="key-card">
    <div class="key">
      <div text-wrap class="key-label bg-green white">Good</div>
      <div text-wrap class="key-label bg-yellow dark-blue">Moderate</div>
      <div text-wrap class="key-label bg-orange white">Unhealthy for sensitive groups</div>
      <div text-wrap class="key-label bg-red white">Unhealthy</div>
      <div text-wrap class="key-label bg-purple white">Very Unhealthy</div>
      <div text-wrap class="key-label bg-maroon white">Hazardous</div>
    </div>
  </ion-card> -->
 </div>

<div class="bottom-section bg-white">

  <div class="graph-section" padding>
    <ion-segment [color]="api.nodeStatus(node.feeds.field1, node.refreshed).standard_color" [(ngModel)]="graphs_segments" (ionChange)="onSegmentChange()">
      <ion-segment-button value="history">
        HISTORY
      </ion-segment-button>
      <ion-segment-button value="forecast">
        FORECAST
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- <div>
    <div class="bar-canvas" [hidden]="graphs_segments != 'history'">
      <canvas #barCanvasHistory></canvas>
      <p class="no-data" *ngIf="history_node_api_success === false">NO HISTORY DATA</p>
    </div>

    <div class="bar-canvas" [hidden]="graphs_segments != 'forecast'">
      <canvas #barCanvasForecast></canvas>
      <p class="no-data" *ngIf="forecast_node_api_success === false">NO FORECAST DATA</p>
    </div>
  </div> -->

  <div class="scroll-chart">
    <div class="chartAreaWrapper" [hidden]="graphs_segments != 'history'">
      <canvas #barCanvasHistory id="historyChart"></canvas>
      <p class="no-data" *ngIf="history_node_api_success === false">NO HISTORY DATA</p>
    </div>
    <div class="chartAreaWrapper" [hidden]="graphs_segments != 'forecast'">
      <canvas #barCanvasForecast id="forecastChart"></canvas>
      <p class="no-data" *ngIf="forecast_node_api_success === false">NO FORECAST DATA</p>
    </div>
  </div>

</div>

  <ion-fab right middle (click)="goToKeyPage()">
    <button ion-fab color="green">KEY</button>
  </ion-fab>


</ion-content>
