# Default values for platform.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: airqo-dev-platform-frontend
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  nodePort: 32104
  targetPort: 80
  port: 80

ingress:
  enabled: false

nodeSelector: {}
torelations: {}

resources:
  requests:
    # Average usage was 0.00001 vCPU and 50Mi over the last 30 days
    cpu: 5m
    memory: 20Mi
  limits:
    cpu: 50m
    memory: 80Mi

autoscaling:
  minReplicas: 1
  maxReplicas: 2
  # targetCPUUtilizationPercentage: 90
  targetMemoryUtilizationPercentage: 90

affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 10
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - general-purpose
      - weight: 1
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - high-memory

app:
  name: airqo-dev-platform-frontend
  label: dev-platform-ui
  namespace: development
  configmap: env-platform-development
