# Default values for platform.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2
image:
  repository: gcr.io/airqo-250220/airqo-stage-platform-frontend
  tag: stage-45ddd0db-1667922355
  pullPolicy: Always
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  nodePort: 31101
  targetPort: 80
  port: 80
ingress:
  enabled: false

nodeSelector: {}
torelations: {}

resources:
  requests:
    # Average usage was 0.00001 vCPU and 50Mi over the last 30 days
    cpu: 5m
    memory: 20Mi
  limits:
    cpu: 50m
    memory: 80Mi

autoscaling:
  minReplicas: 1
  maxReplicas: 3
  # targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 10
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - general-purpose
      - weight: 1
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - high-memory

app:
  name: airqo-stage-platform-frontend
  label: airqo-platform
  namespace: staging
  configmap: env-platform-staging
