replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-platform-frontend
  tag: prod-d4dae8b2-1738675106
  pullPolicy: Always
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
service:
  type: NodePort
  nodePort: 30101
  targetPort: 80
  port: 80
ingress:
  enabled: false
nodeSelector:
  role: control-plane
torelations: {}
resources:
  requests:
    cpu: 5m
    memory: 60Mi
  limits:
    cpu: 100m
    memory: 150Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 70
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
            - key: role
              operator: In
              values:
                - control-plane
        weight: 1
app:
  name: airqo-platform-frontend
  label: airqo-platform
  namespace: production
  configmap: env-platform-production
