replicaCount: 2
image:
  repository: gcr.io/airqo-250220/airqo-stage-platform-frontend
  tag: stage-f9083d59-1669374412
  pullPolicy: Always
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
service:
  type: NodePort
  nodePort: 31101
  targetPort: 80
  port: 80
ingress:
  enabled: false
nodeSelector: {}
torelations: {}
resources:
  requests:
    cpu: 5m
    memory: 20Mi
  limits:
    cpu: 50m
    memory: 80Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetMemoryUtilizationPercentage: 80
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 10
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - general-purpose
      - weight: 1
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - high-memory
app:
  name: airqo-stage-platform-frontend
  label: airqo-platform
  namespace: staging
  configmap: env-platform-staging
