replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-beacon
  tag: latest
  pullPolicy: Always
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
service:
  type: NodePort
  nodePort: 31193
  targetPort: 3000
  port: 3000
ingress:
  enabled: false
resources:
  requests:
    cpu: 10m
    memory: 20Mi
  limits:
    cpu: 50m
    memory: 150Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80

app:
  name: airqo-stage-beacon
  label: beacon
  namespace: staging
  secret: sta-env-beacon
