{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AirQo is Africa's leading air quality monitoring, research and analytics network. We use low cost technologies and AI to close the gaps in air quality data across the continent. Work with us to find data-driven solutions to your air quality challenges" />
        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "favicon-96x96.png" %}" />
        <!--
          manifest.json provides metadata used when your web app is installed on a
          user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link rel="shortcut icon" href={% static "favicon.ico" %} />
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon-96x96.png" %}" />
        <title>AirQo</title>
    </head>

    <body>
        <div id="app"></div>
        <script src="{% static "frontend/main.bundle.js" %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-79ZVCLEDSG"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-79ZVCLEDSG');
        </script>
    </body>
</html>
