{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AirQo is Africa's leading air quality monitoring, research and analytics network. We use low cost technologies and AI to close the gaps in air quality data across the continent. Work with us to find data-driven solutions to your air quality challenges" />
        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "favicon-96x96.png" %}" />
        <!--
          manifest.json provides metadata used when your web app is installed on a
          user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link rel="shortcut icon" href="{% static "favicon.png" %}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon-96x96.png" %}" />
        <meta property="og:title" content="AirQo Africa" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.airqo.net" />
        <meta property="og:image" content="{% static "opengraph.png" %}" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <meta property="og:description"
        content="AirQo is Africa's leading air quality monitoring, research and analytics network. Collaborate with us as we use data to achieve clean air for all African cities." />
        <title>AirQo</title>
    </head>

    <body>
        <div id="app"></div>
        <script src="{% static "frontend/main.bundle.js" %}"></script>
    </body>
</html>
