{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AirQo is Africa's leading air quality monitoring, research and analytics network. We use low cost technologies and AI to close the gaps in air quality data across the continent. Work with us to find data-driven solutions to your air quality challenges" />
        <title>AirQo</title>
    </head>

    <body>
        <div id="app"></div>
        <script src="http://0.0.0.0:8000/frontend"></script>
    </body>
</html>
