page-node-details {

  background: url("../assets/city/clouds.png") 25% 70% repeat-x;

  skeleton-item {
    width: 100%;
  }

  // -----------------------------------------------------------------------------------------

  .page-title {
    color: $airqo_word_blue !important;
  }

  // -----------------------------------------------------------------------------------------

  .current-area-div-top {
    background: url("../assets/imgs/clouds.png") 25% 70% repeat-x;
  }
  .slide-clouds {
    background: url("../assets/imgs/clouds.png") 25% 70% repeat-x;
    height: 50%;
    width: 200em;
    position: absolute;
    z-index: 10;
    -webkit-animation: cloudLoop 10s linear infinite;
  }
  .current-area-status {
    // background: linear-gradient(270deg, #f5071a, #3e0306);
    background-size: 400% 400%;
    height: 50%;
    text-align: center;
    color: white;
    position: relative;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
  }
  .current-area-status.unavailable {
    background: $airqo_unavailable;
    background: -webkit-linear-gradient(to right, $airqo_unavailable, $airqo_unavailable_dark);
    background: linear-gradient(270deg, $airqo_unavailable, $airqo_unavailable_dark);
    background-size: 400% 400%;
  }
  .current-area-status.good {
    background: $airqo_good;
    background: -webkit-linear-gradient(to right, $airqo_good, $airqo_good_dark);
    background: linear-gradient(270deg, $airqo_good, $airqo_good_dark);
    background-size: 400% 400%;
  }
  .current-area-status.moderate {
    background: $airqo_moderate;
    background: -webkit-linear-gradient(to right, $airqo_moderate, $airqo_moderate_dark);
    background: linear-gradient(to right, $airqo_moderate, $airqo_moderate_dark);
    background-size: 400% 400%;
  }
  .current-area-status.unhealthy-sensitive-groups {
    background: $airqo_unhealthy_sensitive_groups;
    background: -webkit-linear-gradient(to right, $airqo_unhealthy_sensitive_groups, $airqo_unhealthy_sensitive_groups_dark);
    background: linear-gradient(to right, $airqo_unhealthy_sensitive_groups, $airqo_unhealthy_sensitive_groups_dark);
    background-size: 400% 400%;
  }
  .current-area-status.unhealthy {
    background: $airqo_unhealthy;
    background: -webkit-linear-gradient(to right, $airqo_unhealthy, $airqo_unhealthy);
    background: linear-gradient(to right, $airqo_unhealthy, $airqo_unhealthy);
    background-size: 400% 400%;
  }
  .current-area-status.very-unhealthy {
    background: $airqo_very_unhealthy;
    background: -webkit-linear-gradient(to right, $airqo_very_unhealthy, $airqo_very_unhealthy_dark);
    background: linear-gradient(to right, $airqo_very_unhealthy, $airqo_very_unhealthy_dark);
    background-size: 400% 400%;
  }
  .current-area-status.hazardous {
    background: $airqo_hazardous;
    background: -webkit-linear-gradient(to right, $airqo_hazardous, $airqo_hazardous_dark);
    background: linear-gradient(to right, $airqo_hazardous, $airqo_hazardous_dark);
    background-size: 400% 400%;
  }

  // -----------------------------------------------------------------------------------------
  
  .area-name {
    color: map-get($colors, airqo_white);
    font-size: 1.3em;
    font-weight: 500;
  }
  .area-time {
    color: map-get($colors, airqo_white);
    font-size: 1.3em;
    font-weight: 500;
  }
  .area-row-middle {
    margin: 5% 0 10% 0;
  }
  .area-current-reading {
    margin: 0 0;
    color: map-get($colors, airqo_white);
    font-size: 5em;
    font-weight: 600;
  }
  .area-current-label {
    margin: 0 0;
    color: map-get($colors, airqo_white);
    font-size: 1.4em;
    font-weight: 500;
  }
  .area-last-update {
    color: map-get($colors, airqo_white);
    font-size: 1em;
    font-weight: 800;
  }

  // -----------------------------------------------------------------------------------------

  .reading-day {
    color: $airqo_dark_blue;
    font-weight: 500;
  }
  .reading-value {
    color: color($colors, airqo_white);
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 0;
    border-radius: 5px;
  }
  .reading-label {
    color: map-get($colors, airqo_white);
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    padding: 4px 0;
  }
  .reading-image {
    margin: 0 0 -5px 0;
    padding: 0 0 5px 0;
    img {
      height: 1.5em;
      width: 1.5em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .avg-24 {
    border-right: 1px solid $airqo_slim_border;
  }
  .avg-current {
    border-left: 1px solid $airqo_slim_border;
  }

  // -----------------------------------------------------------------------------------------

  .skeleton-rectangle {
    width: 56px;
    height: 56px;
    border-radius: 2px;
    @extend .animated-background;
  }
  .skeleton-title, .skeleton-text {
    height: 14px;
    border-radius: 2px;
    margin-bottom: 8px;
    @extend .animated-background;
  }
  .skeleton-text {
    height: 8px;
    width: 80%;
  }

  // -----------------------------------------------------------------------------------------

  .good {
    background-color: $airqo_good;
  }
  .moderate {
    background-color: $airqo_moderate;
  }
  .unhealthy-sensitive-groups {
    background-color: $airqo_unhealthy_sensitive_groups;
  }
  .unhealthy {
    background-color: $airqo_unhealthy;
  }
  .very-unhealthy {
    background-color: $airqo_very_unhealthy;
  }
  .hazardous {
    background-color: $airqo_hazardous;
  }

  // -----------------------------------------------------------------------------------------

  .has-refresher > .scroll-content {
    border-top: 0;
  }

  .toolbar-title-ios {
    color: #ffffff;
    letter-spacing: 1px;
  }

  .footer-ios .toolbar-background-ios,
  .header-ios .toolbar-background-ios {
    border-color: transparent;
    background: transparent;
  }

  .pollution-sign:before {
    font-size: 30px;
  }

  .pollution-time {
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 600;
    padding-top: 10px;
  }

  .pollution-value {
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 4px;
  }
  @media (max-width: 355px) {
    .pollution-value {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: 4px;
    }
  }

  .smog {
    background: url("assets/imgs/clouds.png") 25% 70% repeat-x;
    height: 50%;
    width: 200em;
    position: absolute;
    z-index: 10;
    -webkit-animation: cloudLoop 10s linear infinite;
  }

  .smog.good {
    -webkit-animation: cloudLoop 65s linear infinite;
  }

  .smog.mod {
    -webkit-animation: cloudLoop 60s linear infinite;
  }

  .smog.unhealthy {
    -webkit-animation: cloudLoop 35s linear infinite;
  }

  .smog.vunhealthy {
    -webkit-animation: cloudLoop 35s linear infinite;
  }

  .smog.hazardous {
    -webkit-animation: cloudLoop 35s linear infinite;
  }
  @-webkit-keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    100% {
      -webkit-transform: translate3d(-50%,0,0);
      transform: translate3d(-50%,0,0);
    }
  }
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    100% {
      -webkit-transform: translate3d(-50%,0,0);
      transform: translate3d(-50%,0,0);
    }
  }

  .pollution-back {
    background: linear-gradient(270deg, #f5071a, #3e0306);
    background-size: 400% 400%;
    height: 50%;
    text-align: center;
    padding-top: 60px;
    color: white;
    position: relative;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
  }

  .aqi-status {
    color: #000000;
    height: 50%;
    padding-top: 15px;
    position: relative;
  }

  .aqi-extra {
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
  }
  .aqi-readable{
    position: absolute;
    width: 100%;
    margin-top: 110px;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
  }
  .aqi-graph{
    width:220px;
    height:220px;
  }
  .pollution-back.good {
    background: #56ccf2;
    background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed);
    background: linear-gradient(270deg, #56ccf2, #2f80ed);
    background-size: 400% 400%;
  }

  .aqi-status.good {
    color: #56ccf2;
  }

  .pollution-back.mod {
    background: #F2994A;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);
    background-size: 400% 400%;
  }

  .aqi-status.mod {
    color: #F2994A;
  }

  .pollution-back.unhealthy {
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    background-size: 400% 400%;
  }

  .aqi-status.unhealthy {
    color: #fe4e00;
  }

  .pollution-back.vunhealthy {
    background: #b50518;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(to right, #b86c67, #b50518);
    background-size: 400% 400%;
  }

  .aqi-status.vunhealthy {
    color: #b50518;
  }

  .pollution-back.hazardous {
    background: #610661;
    background: -webkit-linear-gradient(to right, #610661, #a1a5bc);
    background: linear-gradient(to right, #610661, #a1a5bc);
    background-size: 400% 400%;
  }

  .aqi-status.hazardous {
    color: #610661;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  // -----------------------------------------------------------------------------------------
  .bg {
      background: url("assets/city/1.png");
   }

   // -----------------------------------------------------------------------------------------
}
