AIRQO_API_TOKEN=<AirQo JWT token>
AIRQO_API_V2_TOKEN=<AirQo Query parameter token>
SLACK_WEBHOOK_URL=<Slack webhook for receiving errors>
USERS_NOTIFICATION_COLLECTION=<Firebase collection for storing user notifications>
USERS_COLLECTION=<Firebase collection for storing user information>
USERS_PROFILE_PICTURE_COLLECTION=<Firebase collection for storing user profile pics>
IOS_GOOGLE_API_KEY=<iOS google maps API key>
APP_VERSION=2.0.17
APP_BUILD_NUMBER=20041