{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <!--Top Side-->
    <div class="container">
        <div class="row mt-4">
            
            <!--End Left Top Side-->
  
            <!--Right Top Side-->
            <div class="container">
              <div class="row mt-4">
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-header bg-primary text-white">
                              Information
                          </div>
                          <div class="card-body">
                              <marquee behavior="" direction="">
                                  <h3 class="my-4">Welcome {{user.username}}</h3>
                              </marquee>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="card">
                          <div class="card-header bg-primary text-white">
                              Menu
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-4">
                                      <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                                          <div class="card my-card shadow text-center p-3">
                                              <h4>Employees <i class="fas fa-users"></i></h4>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="col-md-4">
                                      <a class="text-decoration-none text-dark" href="{% url 'products' %}">
                                          <div class="card my-card shadow text-center p-3">
                                              <h4>Inventory <i class="fas fa-box"></i></h4>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="col-md-4">
                                      <a class="text-decoration-none text-dark" href="{% url 'metadata' %}">
                                          <div class="card my-card shadow text-center p-3">
                                              <h4>Reports <i class="fas fa-shipping-fast"></i></h4>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <!--End Right Top Side-->
  
        </div>
    </div>
    <!--End Top Side-->
    <!--Search Bar-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-7">
                <!--<div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Weekly Todo list</h4>
                        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> For what reason would it be advisable. <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" checked=""> For what reason would it be advisable for me to think. <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> it be advisable for me to think about business content? <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Print Statements all <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" checked=""> Call Rampbo <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Print bills <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col-md-5 bg-white ">


                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <script>
                    document.getElementById("id_choice").onchange = function() {
                      var option = this.value;
                      if (option === '0') {
                        window.location.href = '/index/';
                      } else if (option === '1') {
                        window.location.href = '/casing/';
                      } else if (option === '2') {
                        window.location.href = '/phase2_smt';
                      }else if (option === '3') {
                        window.location.href = '/phase1_tht/';
                      }else if (option === '4') {
                        window.location.href = '/phase3_tunning/';
                      }else if (option === '5') {
                        window.location.href = '/monitor_assembly/';
                      }else if (option === '6') {
                        window.location.href = '/communication_config/';
                      }else if (option === '7') {
                        window.location.href = '/analysis/';
                      }else if (option === '8') {
                        window.location.href = '/correction/';
                      }
                    };
                  </script>
            </div>
        </div>
    </div>
    <!-- End Search Bar-->
{% endblock%}