{% extends 'base.html' %}

{% block content %}
<!--Top Side-->
<div class="container">
    <div class="row mt-4">
        
        <!--End Left Top Side-->

        <!--Right Top Side-->
        <div class="container">
          <div class="row mt-4">
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header bg-primary text-white">
                          Information
                      </div>
                      <div class="card-body">
                          <marquee behavior="" direction="">
                              <h3 class="my-4">Welcome {{user.username}}</h3>
                          </marquee>
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header bg-primary text-white">
                          Menu
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-4">
                                  <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                                      <div class="card my-card shadow text-center p-3">
                                          <h4>Employees <i class="fas fa-users"></i></h4>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-md-4">
                                  <a class="text-decoration-none text-dark" href="{% url 'products' %}">
                                      <div class="card my-card shadow text-center p-3">
                                          <h4>Inventory <i class="fas fa-box"></i></h4>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-md-4">
                                  <a class="text-decoration-none text-dark" href="{% url 'metadata' %}">
                                      <div class="card my-card shadow text-center p-3">
                                          <h4>Reports <i class="fas fa-shipping-fast"></i></h4>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <!--End Right Top Side-->

    </div>
</div>
<!--End Top Side-->
<!--Graphs-->
<div class="container">
    <div class="row my-5">
        <div class="col-md-5">
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <h3>Weekly Quater Data</h3>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="start_date">Start Date:</label>
                          <input type="date" class="form-control" name="start_date" id="start_date">
                        </div>
                        <div class="form-group">
                          <label for="end_date">End Date:</label>
                          <input type="date" class="form-control" name="end_date" id="end_date">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Show</button>
                        </div>
                        
                      </form>
                      
                </div>
                
              
                {% if weekly_averages %}
                  <table class="table bg-white">
                    <thead class="bg-primary">
                      <tr class="text-white">
                        <th scope="col">Week</th>
                        <th scope="col">Average Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for average in weekly_averages %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ average.average }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p>No data available.......</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--End Graphs-->  

{% endblock%}