replicaCount: 1
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-docs
  pullPolicy: Always
  tag: stage-24c8f6ba-1733852714
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31104
ingress:
  enabled: false
resources:
  limits:
    cpu: 50m
    memory: 100Mi
  requests:
    cpu: 10m
    memory: 20Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
nodeSelector: 
  role: control-plane
tolerations: []
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
          - key: role
            operator: In
            values:
            - control-plane
        weight: 1
app:
  name: airqo-stage-docs
  label: sta-docs
  namespace: staging
