.timeseries-path {
    stroke: steelblue;
    stroke-width: 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}

.axis {
    font: 12px Arial;
    /*color: grey*/
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 0.5;
    /*shape-rendering: crispEdges;*/
}

.legend {
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
}