.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tutorial-box {
  position: absolute;
  background-color: #3f51b5;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.25);
  padding: 20px;
  z-index: 9999;
}

.tutorial-arrow-up {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3f51b5;
}

.tutorial-arrow-down {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3f51b5;
}

.tutorial-arrow-left {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #3f51b5;
}

.tutorial-count {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.description {
  color: #fff;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 9px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.prev-button {
  margin-right: 10px;
}

.prev-button,
.next-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
}
