* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}



.form-style-graph {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-graph li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-graph label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
} 
.form-style-graph input[type=date],
.form-style-graph input[type=search],
.form-style-graph input[type=time],

select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;

} 
.form-style-graph input[type=date]:focus,
.form-style-graph input[type=search]:focus,
.form-style-graph input[type=time]:focus, 
.form-style-graph select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-graph .field-divided{
	width: 49%;
}
.form-style-graph .field-select{
	width: 100%;
}
.form-style-graph input[type=submit], .form-style-graph input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-graph input[type=submit]:hover, .form-style-graph input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-graph .required{
	color:red;
}  


.canvas-container {
  height: 60vh;
}