@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
  height: 100%;
}

body,
html {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4d56;
  background: #f6f6f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* Spinner css */
.spinnerLoader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #1e40af;
  animation: l15 1s infinite linear;
}
.spinnerLoader::before,
.spinnerLoader::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.spinnerLoader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

/* Apply custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #f1f1f1;
}
