@import "lib/colors";
@import "lib/variables";

.AfricanCitiesPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-style: normal;
  position: relative;

  .cities-divider {
    width: 100%;
    max-width: $columnWidth;
    height: 0px;
    border: 8px solid #EBF1FF;
    margin: 80px auto 120px auto;
  }

  .city-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $aq-blue-3;
    width: 100%;
    min-height: 416px;
    text-align: center;

    .page-nav {
      max-width: 200px;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: $aq-black-2;
    }

    .city-main-text {
      max-width: 800px;
      min-height: 56px;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: $aq-black-1;
      margin: 32px 0 16px 0;
    }

    .city-sub-text {
      max-width: 720px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $aq-black-1;
    }
  }

  .city-banner {
    width: 100%;
    max-width: 900px;
    min-height: 144px;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    text-align: center;

    color: $aq-black-2;

    margin: 80px 16px 77px 16px;
  }

  .city-tabs-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

    .city-tabs {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      max-width: $columnWidth;

      .available {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        min-width: 144px;
        height: 56px;
        background: $aq-blue-3;
        border-radius: 1000px;
        border: none;
        margin-right: 23px;
        .text {
          display: flex;
          align-items: center;
          min-width: 40px;
          height: 24px;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          color: $aq-blue-0;

          margin: 0px 11px;
        }
      }

      a:link, a:active, a:focus, a:visited {
          color: inherit;
          cursor: pointer;
          text-decoration: none;
        }

      .not-available {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        cursor: not-allowed;

        min-width: 144px;
        height: 56px;
        background: $aq-grey-2;
        border-radius: 1000px;
        border: none;
        margin-right: 23px;
        .text {
          display: flex;
          align-items: center;

          min-width: 40px;
          height: 24px;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          color: rgba(53, 62, 82, 0.5);

          margin: 0px 11px;
        }

        .text-extended {
          min-width: 100px;
        }
      }

      .extended {
        min-width: 250px
      }

      .active {
        border: 2px solid #135DFF;
      }
    }
  }

  .cities-content {
    width: 100%;
    min-height: 300px;
    padding: 10px;

    .content-intro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: $columnWidth;

      min-height: 168px;

      background: #EBF1FF;
      border-radius: 1000px;

      >p {
        width: 95%;
        max-width: 782px;
        min-height: 80px;

        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;

        text-align: center;

        color: #353E52;

        mix-blend-mode: normal;
      }

      margin: 110px auto 124px auto;
    }

    .ug-container, .ke-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px;

      .consult-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        max-width: 520px;
        min-height: 346px;

        p:first-child {
          font-weight: 500;
          font-size: 32px;
          line-height: 40px;
          width: 100%;

          color: $aq-black-1;
          margin: 0px;
        }

        p {
          width: 100%;
          max-width: 477px;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;

          color: $aq-black-1;
          margin-top: 32px;
        }

        p:last-child {
          margin-top: 20px;
        }

        .number-list {
          display: flex;
          margin-bottom: 24px;

          span:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;

            color: #135DFF;
            background: #EBF1FF;

            border-radius: 50%;
          }

          span:last-child {
            max-width: 383px;
            min-height: 104px;

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;

            color: #121723;
            margin-left: 24px;
          }
        }
      }

      .consult-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 23px;
        grid-row-gap: 20px;
        position: relative;

        width: 100%;
        max-width: 568px;
        height: 482px;
        margin: auto 0;

        .img-small {
          align-self: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        .img-long {
          grid-column: 1/2;
          grid-row: 1/3;
          align-self: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        .img-long-right {
          grid-column: 2/3;
          grid-row: 1/3;
          align-self: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        .background-shape {
          position: absolute;
          left: -8%;
          top: 7.74%;
          z-index: -1;
          transform: rotate(2.54deg);
        }
      }
    }
  }

  .advocate-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 240px;

    .advocate {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: $columnWidth;

      p:first-child {
        width: 95%;
        max-width: 888px;
        min-height: 48px;

        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;

        text-align: center;

        color: #353E52;

        margin: 0px;
      }

      p:last-child {
        width: 95%;
        max-width: 973px;
        min-height: 144px;

        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;

        text-align: center;

        color: #353E52;

        margin: 24px 0 0 0;
      }
    }
  }



  .publications-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    width: 100%;
    min-height: 482px;
    background: #EBF1FF;
    border-radius: 8px;
    padding: 10px;
    margin: 0 16px;
    margin-top: 48px;

    >* {
      width: 100%;
      max-width: 944px;
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $aq-blue-0;
      padding-top: 64px;
    }

    .main-text {
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: $aq-black-2;
      margin: 24px 0 32px 0;
    }

    .author {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $aq-black-1;
      //margin: 32px 0 4px 0;
    }

    .team {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: $aq-black-1;
      margin: 4px 0 36px 0;
    }

    .link {
      display: flex;
      width: 248px;
      height: 54px;
      padding: 14px 24px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: $aq-black-1;
      border: 1px solid #000000;
      border-radius: 2px;
      cursor: pointer;
      margin-bottom: 64px;

      .link-arrow {
        display: inline-block;
        width: 27px;
        height: 26px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-left: 5px;

        color: $aq-black-1;

        transform: rotate(-180deg);
      }
    }
  }

  .approach-section {
    position: relative;
    height: 100%;
    max-width: $columnWidth;
    width: 100%;
    margin: 0 16px;
    margin-bottom: 140px;

    .section-row {
      display: flex;
      margin-bottom: 64px;

      h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 500;
        color: $aq-black-1;
        width: 100%;
        margin: 0;
      }

      p {
        max-width: 565px;
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
      }
    }
    
    .section-content {
      padding: 80px 64px;
      background-color: #F2F1F6;
      border-radius: 16px;

      hr {
        margin: 64px 0;
      }

      .content {
        .outstanding-text {
          max-width: 514px;
        }

        h3 {
          max-width: 725px;
          width: 100%;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          margin: 0;
          margin-bottom: 24px;
        }

        p {
          max-width: 691px;
          width: 100%;
          height: auto;
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          margin: 0;
        }
      }
    }

  }

}

@media(max-width: $mainBreakPoint) {
  .AfricanCitiesPage {
    .cities-divider {
      margin: 64px auto;
    }
    .approach-section {
      .section-row {
        flex-direction: column;

        h2 {
          padding-bottom: 24px;
        }
      }

      .section-content {
        padding: 80px 16px;
      }
    }

    .cities-content {
      .ug-container {
        .consult-images {
          display: block;
          height: auto;
          
          .img-small {
            display: block;
            width: 100%;
            height: 231px;
            object-fit: cover;
            margin-bottom: 24px;
          }

          .img-long {
            display: none;
          }

          .img-long-right {
            display: none;
          }
        }

        .consult-text {
          .number-list {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
  
            span:first-child {
              margin-bottom: 16px;
            }
  
            span:last-child {
              width: 100%;
              margin: 0;
            }
          }
        }
        
      }
    }
  }
}