@import "lib/colors";
@import "lib/variables";

.AfricanCitiesPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-style: normal;

  .city-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $aq-blue-3;
    width: 100%;
    min-height: 416px;
    text-align: center;

    .page-nav {
      max-width: 200px;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: $aq-black-2;
    }

    .city-main-text {
      max-width: 800px;
      min-height: 56px;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: $aq-black-1;
      margin: 32px 0 16px 0;
    }

    .city-sub-text {
      max-width: 720px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $aq-black-1;
    }
  }

  .city-banner {
    width: 100%;
    max-width: $columnWidth;
    min-height: 144px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    text-align: center;

    color: $aq-black-2;

    margin: 80px 0 77px 0;
  }

  .city-tabs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

    .city-tabs {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      max-width: $columnWidth;

      .available {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        min-width: 144px;
        height: 56px;
        background: $aq-blue-3;
        border-radius: 1000px;
        border: none;
        margin-right: 23px;
        .text {
          display: flex;
          align-items: center;
          min-width: 40px;
          height: 24px;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          color: $aq-blue-0;

          margin: 0px 11px;
        }
      }

      .not-available {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        cursor: not-allowed;

        min-width: 144px;
        height: 56px;
        background: $aq-grey-1;
        border-radius: 1000px;
        border: none;
        margin-right: 23px;
        .text {
          display: flex;
          align-items: center;

          min-width: 40px;
          height: 24px;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          color: rgba(53, 62, 82, 0.5);

          margin: 0px 11px;
        }

        .text-extended {
          min-width: 100px;
        }
      }

      .extended {
        min-width: 250px
      }

      .active {
        border: 2px solid #135DFF;
      }
    }
  }

  .cities-content {
    width: 100%;
    min-height: 1500px;
    padding: 10px;

    .content-intro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: $columnWidth;

      min-height: 168px;

      background: #EBF1FF;
      border-radius: 1000px;

      >p {
        width: 95%;
        max-width: 782px;
        min-height: 80px;

        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;

        text-align: center;

        color: #353E52;

        mix-blend-mode: normal;
      }

      margin: 110px auto 124px auto;
    }

    .cities-divider {
      width: 100%;
      max-width: $columnWidth;
      height: 0px;
      border: 8px solid #EBF1FF;
      margin: 80px auto 120px auto;
    }

    .ug-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px;

      .consult-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        max-width: 520px;
        min-height: 346px;

        p:first-child {
          font-weight: 500;
          font-size: 32px;
          line-height: 40px;
          width: 100%;

          color: $aq-black-1;
          margin: 0px;
        }

        p {
          width: 100%;
          max-width: 477px;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;

          color: $aq-black-1;
          margin-top: 32px;
        }

        p:last-child {
          margin-top: 20px;
        }

        .number-list {
          display: flex;
          margin-bottom: 24px;

          span:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;

            color: #135DFF;
            background: #EBF1FF;

            border-radius: 50%;
          }

          span:last-child {
            max-width: 383px;
            min-height: 104px;

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;

            color: #121723;
            margin-left: 24px;
          }
        }
      }

      .consult-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 23px;
        grid-row-gap: 20px;
        position: relative;

        width: 100%;
        max-width: 568px;
        height: 482px;
        margin: auto 0;

        .img-small {
          align-self: center;
          width: 100%;
          height: auto;
          border-radius: 8px;
        }

        .img-long {
          grid-column: 1/2;
          grid-row: 1/3;
          align-self: center;
          width: 100%;
          height: auto;
          border-radius: 8px;
        }

        .img-long-right {
          grid-column: 2/3;
          grid-row: 1/3;
          align-self: center;
          width: 100%;
          height: auto;
          border-radius: 8px;
        }

        .background-shape {
          position: absolute;
          left: -8%;
          top: 7.74%;
          z-index: -1;
          transform: rotate(2.54deg);
        }
      }
    }
  }

  .advocate-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 240px;

    .advocate {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: $columnWidth;

      p:first-child {
        width: 95%;
        max-width: 888px;
        min-height: 48px;

        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;

        text-align: center;

        color: #353E52;

        margin: 0px;
      }

      p:last-child {
        width: 95%;
        max-width: 973px;
        min-height: 144px;

        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;

        text-align: center;

        color: #353E52;

        margin: 24px 0 0 0;
      }
    }
  }



  .publications-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    width: 100%;
    min-height: 482px;
    background: #EBF1FF;
    border-radius: 8px;
    padding: 10px;
    margin-top: 48px;

    >* {
      width: 100%;
      max-width: 944px;
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $aq-black-3;
    }

    .main-text {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: $aq-black-2;
      margin: 24px 0 32px 0;
    }

    .author {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $aq-black-1;
      //margin: 32px 0 4px 0;
    }

    .team {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: $aq-black-1;
      margin: 4px 0 36px 0;
    }

    .link {
      display: flex;
      width: 280px;
      height: 48px;
      padding: 11px 24px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: $aq-black-1;
      background: $aq-white-0;
      border-radius: 16px;

      .link-arrow {
        display: inline-block;
        width: 27px;
        height: 26px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-left: 5px;

        color: $aq-black-1;

        transform: rotate(-180deg);
      }
    }
  }

}