@import 'lib/colors';
@import 'lib/variables';

.airquality-section {
  display: grid;
  grid-template-columns: $gridColumn;
  background-color: $aq-blue-1;
  .backdrop {
    grid-column: 2 / 3;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: $headingFont;
        font-weight: 500;
        line-height: 52px;
        text-align: center;
        max-width: 656px;
      }
      p {
        max-width: 792px;
        font-size: $subTextFont;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
      }
      .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        min-width: 360px;
        height: 56px;
        margin: 60px 0 0 0;
        background-color: #e9edf5a3;
        mix-blend-mode: multiply;
      }
      .tab {
        font-weight: 400;
        font-size: $buttonFont;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        color: $aq-blue-2;
        padding: 0 14px;
      }
      .tab.tab-selected {
        padding: 16px 32px;
        border-radius: 16px;
        color: $aq-white-0;
        background-color: $aq-blue-2;
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 16px;
      padding: 18px 18px 16px 32px;
      margin: 69px 0 79px 0;
      .content-container {
        .card {
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          padding: 24px 25px;
          width: 400px;
          height: auto;
          gap: 4px;
          cursor: pointer;
          transition: all 0.2s linear;

          h4 {
            font-size: 20px;
            line-height: 30px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: -9px;
            text-transform: capitalize;
          }
          ol {
            li {
              list-style-type: none;
              margin-left: -13%;
              line-height: 28px;
              font-size: 20px;
              font-weight: 400;
              font-style: normal;
            }
          }
        }
        .selected {
          background-color: $aq-blue-12;
        }
        #first {
          margin-top: 24px;
        }
        #second {
          margin: 24px 0 24px 0;
        }
      }

      .image {
        img {
          height: 368px;
        }
      }
    }
  }
}

@media (max-width: $mainBreakPoint) {
  .airquality-section {
    .backdrop {
      .header {
        padding: 0 10px;
        .tabs {
          width: 99%;
          margin-top: 32px;
          background-color: transparent;
          justify-content: space-evenly;
        }
        .tab {
          font-size: 15px;
        }
        .tab.tab-selected {
          display: flex;
          padding: 12px 16px;
        }
      }
      .content {
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin: 53px 10px 0 10px;
        .content-container {
          .card {
            width: 85vw;
            height: fit-content;
            padding: 20px 5px 20px 5px;
            border: 2px solid #e8effc;
            h4 {
              margin-bottom: -14px;
            }
            ol {
              li {
                margin-left: -40px;
                line-height: 18px;
                small {
                  font-size: 12px;
                }
              }
            }
          }
          .selected {
            background-color: $aq-blue-12;
          }
          #second {
            margin: 15px 0 10px 0;
          }
        }
        .image {
          padding: 24px 5px 20px 5px;
          img {
            width: 85vw;
            height: 99%;
          }
        }
      }
    }
  }
}
@media screen and(min-width:$mainBreakPoint) and(max-width: $tabBreakPoint) {
  .airquality-section {
    .backdrop {
      .content {
        flex-flow: column;
        align-items: center;
        .content-container {
          .card {
            width: 90vw;
            height: fit-content;
            ol {
              li {
                margin-left: -6%;
              }
            }
          }
        }
        .image {
          padding: 24px 5px 20px 5px;
          img {
            width: 90vw;
            height: 99%;
          }
        }
      }
    }
  }
}
