@import "lib/variables";

.AnalyticsSection {
    position: relative;
    background-color: $aq-blue-1;
    height: 1038px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .wrapper {
        max-width: $columnWidth;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 64px;
        margin-top: 120px;

        h3 {
            background-color: $aq-white-0;
            color: $aq-blue-2;
            width: 189px;
            height: 39px;
            font-size: $pillFont;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
            margin-bottom: 24px;
        }

        .AnalyticsSection-info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                width: 442px;
                font-size: $headingFont;
                line-height: 56px;
                margin-top: 0;
                font-weight: 500;
            }

            &-aside {
                p {
                    width: 477.24px;
                    font-size: $subTextFont;
                    line-height: 28px;
                    margin-bottom: 36px;
                    font-weight: 400;
                }

                &-btn {
                    color: $aq-blue-0;
                    display: flex;
                    align-items: center;
                    font-size: $linkFont;
                    font-weight: 500;
                    font-style: normal;
                    cursor: pointer;
                }
            }
        }
    }

    .analytics-img {
        height: 651.24px;
        object-fit: cover;
        max-width: 1247.5px;
        margin: 0 auto;
    }

    &-icon {
        margin-left: 8px;
    }

    .analytics-img-sm {
        display: none;
    }
}

@media(max-width: $mainBreakPoint) {
    .AnalyticsSection {
        position: relative;
        height: 100%;
        width: 100%;

        .wrapper {
            padding: 60px 16px 0 16px ;
            background-color: $aq-blue-1;
            margin: 0 auto;
            width: 100%;
            flex-direction: column;
    
            h3 {
                background-color: $aq-white-0;
                margin-bottom: 24px;
            }
    
            .AnalyticsSection-info {
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
    
                h1 {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 24px;
                }
    
                &-aside {
                    position: relative;
                    p {
                        width: 100%;
                    }
    
                    &-btn {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    
        .analytics-img {
            display: none;
        }

        .analytics-img-sm {
            display: flex;
            width:96%;
            object-fit: cover;
            height: 100%;
            overflow-x: hidden;
        }
    
    }
} 