@import "lib/variables";
@import "lib/colors";

.Apisection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    margin: 0 auto;
    height: 900px;

    &-details {
        width:520px;

        h3 {
            margin-bottom: 24px;
            background-color: $aq-blue-1;
            color: $aq-blue-0;
            width: 148px;
            height: 34px;
            font-size: $pillFont;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
        }
        
        h1 {
            font-size: $headingFont;
            line-height: 56px;
            margin-bottom: 24px;
            color: $aq-black-1;
            font-weight: 500;
        }

        p {
            font-size: $subTextFont;
            line-height: 28px;
            margin-bottom: 32px;
            font-weight: 400;
        }

        &-btn{
            color: $aq-blue-0;
            display: flex;
            align-items: center;
            font-size: $linkFont;
            font-style: normal;
            cursor: pointer;
            a{
                font-weight: 500;
            }
        }
    }

    &-icon {
        margin-left: 8px;
    }

    .api-section-img {
        width: 757px;
        height: 584.14px - 32.14px;
        object-fit: cover;
        object-position: center center;
        margin-right: -10%;
    }
}

@media(max-width: $mainBreakPoint) {
    .Apisection {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        margin-top: 40px;

        &-details {
            margin: 0 auto;
            width: 100%;
            padding: 80px 16px 0 16px; 
            p {
                margin-bottom: 38px;
            }

            &-btn {
                margin-bottom: 42.75px;
            }
        }
        .api-section-img {
            display: flex;
            justify-content: center;
            img{
            width: 90%;
            height: 96%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            }
        }
    }
}