@import "lib/variables";
@import "lib/colors";

.Apisection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    margin: 168px auto 147.86px auto;

    &-details {
        // margin-right: 40px;

        h3 {
            margin-bottom: 24px;
            background-color: $aq-blue-1;
            color: $aq-blue-0;
            width: 148px;
            height: 34px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
        }

        h1 {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 24px;
            color: $aq-black-1;
        }

        p {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 32px;
        }

        &-btn {
            color: $aq-blue-0;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600px;
            font-style: normal;
            cursor: pointer;
        }
    }

    &-icon {
        margin-left: 8px;
    }

    img {
        width: 757px;
        height: 584.14px - 32.14px;
        object-fit: cover;
        object-position: center center;
        margin-right: -10%;
    }

    .api-section-mobile {
        display: none;
    }
}

@media(max-width: $mainBreakPoint) {
    .Apisection {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 40px;

        &-details {
            margin: 0 auto;
            width: 100%;
            padding: 80px 16px 0 16px;

            h1 {
                font-size: 40px;
                line-height: 48px;
                font-weight: 500;
            }
    
            p {
                font-size: 20px;
                line-height: 28px;
                font-weight: 400;
                margin-bottom: 38px;
            }

            &-btn {
                margin-bottom: 42.75px;
            }
        }
        
        img {
            display: none;
        }

        .api-section-mobile {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}