.CareersPage {
  min-height: 50px;
  .careers-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 416px;
    background-image: url("src/icons/careers/careers.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;

    color: #FFFFFF;
    font-style: normal;
    text-align: center;

    .text-container {
      width: 100%;
      max-width: 720px;
    }

    .sub-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    .main-text {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      margin: 32px 0 24px 0;
    }

    .text-brief {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F1F6;
    min-height: 50px;
    padding: 80px 0 160px 0;
    .container {
      width: 100%;
      max-width: 720px;
    }
    .label {
      width: 100%;
      max-width: 720px;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 56px;

      color: #121723;
      margin-bottom:  32px;
    }

    .tag {
      display: inline-block;
      padding: 12px 32px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      margin: 0 16px 16px 0;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #121723;

      cursor: pointer;
    }

    .tag-selected {
      background: #0CE87E;
      color: #06743F;
    }

    .department {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;

      color: #121723;

      opacity: 0.4;

      margin: 40px 0 32px 0;
    }

    .listing {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 24px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      margin-bottom: 16px;
      cursor: pointer;

      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;

        color: #121723;
      }

      .type {
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        color: #121723;
        width: 35%;
      }

      .arrow {
        width: 7px;
        height: 7px;
        box-sizing: border-box;

        opacity: 0.32;

        border-top: 2px solid #353E52;
        border-right: 2px solid #353E52;
        transform: rotate(45deg);
      }
    }

    .no-listing {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;

      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;

      color: #121723;

      opacity: 0.4;

      margin: 160px 0;
    }

    .self-intro {
      margin-top: 160px;
      span {
        display: block;
        width: 100%;
        max-width: 418px;

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        text-align: center;

        color: #121723;

        margin: 0 auto;
      }
      span:first-child {
        min-height: 96px;
        opacity: 0.4;
        margin-bottom: 6px;
      }
    }
  }
}