.careers-detail--no-listing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: #121723;

  opacity: 0.4;
}
.CareersDetailPage {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 720px;
    margin: 24px 0 24px 0;
    padding: 0;

    .title {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 30px;

      span {
        width: 100%;
      }

      span:first-child {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;

        color: #121723;
        margin-bottom:  8px;
      }

      span:last-child {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        color: #353e52
      }

    }

    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;

      color: #353e52;
      margin-bottom:  20px;
    }

    .list {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;

      color: #353e52;
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      margin-bottom:  20px;

      span {
        font-weight: 600;
      }
    }
  }
}

@media(max-width: 720px) {
  .CareersDetailPage {
    .content {
      padding: 10px;
    }
  }
}