@import 'lib/colors';
@import 'lib/variables';

.Clean-air-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  .header-subnav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-bottom: 1px solid #f3f6f8;

    .tabs {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0 auto;
      max-width: 1088px;
      gap: 20px;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      overflow-x: auto;
      justify-content: flex-start;
      cursor: pointer;
      scrollbar-width: 1px;

      li {
        color: rgba(53, 62, 82, 0.64);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .active {
        color: #145dff;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100% + 15px);
          height: 2px;
          background-color: #145dff;
          transform: translateX(-12%);
        }
      }
    }
  }

  .highlight {
    color: #135dff;
    font-weight: bold;
  }

  .page-container {
    z-index: 1;
    position: relative;

    .page-wrapper {
      > * + * {
        padding-top: 20px;
      }

      > :last-child {
        padding-bottom: 80px;
      }
      .individual-section {
        margin: 60px 0;
        background-color: #f2f1f6;
        padding: 20px 0;
      }
    }

    .Hero {
      padding-top: 80px;
      padding-bottom: 0;
      .hero-content {
        .hero-title {
          font-size: 52px;
          font-weight: 600;
          line-height: 64px;
          color: $aq-black-2;
        }
      }
      .image-container {
        img {
          width: 100%;
          height: 100%;
          max-height: 420px;
          object-fit: cover;
        }
      }
    }

    .extra-content {
      color: #353e52;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      font-style: normal;
      margin: 0;
      text-align: center;
    }

    .splitSection-section.title-section {
      padding: 20px 0 10px 0;
    }

    // split section
    .splitSection-section {
      display: grid;
      grid-template-columns: $gridColumn;
      padding: 80px 0;

      .backdrop {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-gap: 50px;
        padding: 5px;
        height: auto;
        align-items: center;

        .splitSection-content {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          #first-pill {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $aq-white-0;
            width: auto;
            height: 34px;
            padding: 4px 16px;
            box-sizing: border-box;
            border-radius: 1000px;
            margin-bottom: 24px;

            p {
              color: $aq-blue-2;
              font-size: $pill-font;
              font-weight: 500;
              line-height: 26px;
              padding: 0;
            }
          }

          .content-h {
            color: $aq-black-1;
            font-weight: 500;
            font-size: $headingFont;
            margin-bottom: 24px;
            padding: 0;
          }

          .content-p {
            margin-bottom: 50px;

            color: $aq-black-0;
            font-weight: 400;
            font-size: $subTextFont;
            line-height: 28px;
            margin: 0;
          }

          #second-pill {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              color: $aq-blue-0;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              flex-grow: 0;
              margin: 0;
              padding: 0;
            }

            .arrow {
              margin: 0 1rem;
            }

            .arrow-rev {
              margin: 0 1rem;
              transform: rotate(180deg);
            }
          }
        }

        .splitSection-image {
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;

          .splitSection-img {
            float: right;
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
          }
        }
      }

      .backdrop-rev {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-gap: 50px;
        padding: 5px;
        height: auto;
        align-items: center;

        .splitSection-image {
          order: 1;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 100%;
          height: auto;

          .splitSection-img {
            width: 100%;
            height: auto;
            float: left;
            border-radius: 8px;
            object-fit: contain;
          }
        }

        .splitSection-content {
          order: 2;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          #first-pill {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $aq-white-0;
            width: auto;
            height: 34px;
            padding: 4px 16px;
            box-sizing: border-box;
            border-radius: 1000px;
            margin-bottom: 24px;

            p {
              color: $aq-blue-2;
              font-size: $pill-font;
              font-weight: 500;
              line-height: 26px;
              padding: 0;
            }
          }

          .content-h {
            color: $aq-black-1;
            font-weight: 500;
            font-size: $headingFont;
            margin-bottom: 24px;
            padding: 0;
          }

          .content-p {
            margin-bottom: 50px;
            color: $aq-black-0;
            font-weight: 400;
            font-size: $subTextFont;
            line-height: 28px;
            margin: 0;
          }

          #second-pill {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              color: $aq-blue-0;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              flex-grow: 0;
              margin: 0;
              padding: 0;
            }

            .arrow {
              margin: 0 1rem;
            }

            .arrow-rev {
              margin: 0 1rem;
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    // text split section
    .textSplit-section {
      .container {
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 60px 16px;
      }

      .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        .title-section,
        .content-section {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          color: #353e52;

          font-size: 48px;
          font-weight: 500;
          line-height: 56px;
          margin: 0;
          padding: 0;

          h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: 56px;
            margin: 0;
            padding: 0;
          }

          p,
          div {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
        }
      }

      .partners-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .partner-logos {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .grid-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
          }
          .cell {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            padding: 0 16px;
            box-sizing: border-box;
            height: 144px;
            width: 100%;
            min-width: 255px;
            max-width: 260px;
            border: 1px solid $aq-blue-2;
            cursor: pointer;
          }

          @media (min-width: 768px) {
            .cell {
              flex: 0 0 calc(50% - 0px);
            }
          }

          @media (max-width: 768px) {
            .cell {
              flex: 0 0 100%;
            }
          }

          .logo {
            width: 100%;
            max-height: 110px;
            object-fit: contain;
            mix-blend-mode: multiply;
          }

          .partners-toggle-button {
            outline: none;
            border: none;
            margin: 20px auto;
            color: #145dff;
            background: none;
            cursor: pointer;
          }
        }
      }
    }

    // Register Banner
    .banner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 46px;
      align-self: stretch;
      padding: 40px;
      background: linear-gradient(150deg, #f2f1f6 45.54%, #eef7ff 100%);
      border-radius: 8px;
      margin-top: 60px;

      .banner-image {
        width: 230px;
        border-radius: 10px;
        height: 220px;
        object-fit: cover;
        object-position: center;
      }

      .banner-content {
        width: 100%;
        padding-left: 20px;

        p {
          font-size: 28px;
          line-height: 42px;
          font-weight: 400;
          color: #353e52;
          margin-bottom: 20px;
          margin-top: 0;
        }

        .register-button {
          padding: 20px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          cursor: pointer;
        }
      }
    }

    // Events
    .events {
      max-width: $maxWidth;
      margin: 0 auto;
      padding: 40px 16px;

      .events-header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .events-header-buttons {
          display: flex;
          gap: 20px;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            padding: 16px 20px;
            background: none;
            border: 1px solid #000000;
            cursor: pointer;
          }
        }
      }

      .pagination {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        button {
          padding: 16px 20px;
          background: none;
          border: 1px solid #000000;
          cursor: pointer;
        }
      }

      .events-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
      }

      .event-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .event-card {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          padding: 10px;
          margin: 10px;
          border-radius: 8px;
          background-color: #fff;
          gap: 20px;

          .even-card-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 8px;
            border-radius: 24px;
            width: 100%;
            height: auto;
            box-sizing: border-box;
          }

          .event-image {
            width: 230px;
            height: 180px;
            border-radius: 16px;
            object-fit: cover;
            object-position: center;
          }

          .event-title,
          .event-subtitle,
          .event-date {
            margin: 5px 0;
          }

          .event-title {
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
          }

          .event-subtitle {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
          }

          .event-date {
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
          }

          .no-events {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-size: 24px;
              font-weight: 400;
              line-height: 28px;
              color: #353e52;
            }
          }

          .event-button {
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            display: inline-block;
            margin-top: 10px;
            color: #145dff;
          }
        }
      }
    }

    // dropdowns
    .drop-down-list {
      background: white;
      position: absolute;
      list-style: none;
      padding: 0;
      margin: 0;
      top: 50px;
      right: 0;
      z-index: 10000;
      width: 165px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow-y: auto;
      max-height: 308px;

      &::-webkit-scrollbar {
        display: none;
      }

      .label {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        color: #353e5266;
        padding: 10px 20px;
      }

      li {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
          background: #f2f1f6;
        }
      }
    }

    // singe section image banner
    .acronym-image-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: initial;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      object-fit: cover;
      object-position: center;
    }

    .acronym-image {
      object-fit: cover;
      width: inherit;
      position: inherit;
      object-fit: cover;
      object-position: bottom;
    }

    .acronym-section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      background-color: $aq-blue-1;
    }

    .acronym-section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: inherit;
      margin: 0 auto;
      padding: 0 16px;
      width: 100%;
      height: 100%;

      .content {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .acronym-content-container {
          max-width: $maxWidth;
          margin: 0 auto;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          z-index: 2;
          margin-top: 40px;
          background: none;
          gap: 15px;
          outline: none;
          border: none;

          p {
            align-self: stretch;
            color: #353e52;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            padding: 0;
            margin: 0;
          }

          h2 {
            margin: 0;
            padding: 0;
            color: #121723;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 56px;
          }

          .join-now {
            color: #121723;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            a {
              color: #135dff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              text-decoration-line: underline;
            }
          }
        }

        .join-now {
          color: #121723;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

          a {
            color: #121723;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-decoration-line: underline;
          }
        }
      }
    }

    // responsive for mobile
    @media screen and (max-width: 768px) {
      .acronym-section-container {
        height: auto;
      }
      .acronym-image-container {
        display: none;
      }

      .acronym-section {
        padding: 40px 0;
        .content {
          .acronym-content-container {
            p {
              font-size: 20px;
              line-height: 32px;
            }
            h2 {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .acronym-section-container {
        height: 1000px;
      }
      .acronym-section {
        background-image: url('assets/img/cleanAir/section2.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
    }

    .single-section {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $aq-blue-1;

      .content {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        #first-pill {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: $aq-white-0;
          width: auto;
          height: 34px;
          padding: 4px 16px;
          box-sizing: border-box;
          border-radius: 1000px;

          p {
            color: $aq-blue-2;
            font-size: $pill-font;
            font-weight: 500;
            line-height: 26px;
            padding: 0;
          }
        }

        .content-h {
          color: #121723;
          text-align: center;
          font-family: Inter;
          font-size: 3rem;
          font-style: normal;
          font-weight: 500;
          line-height: 3.5rem;
        }

        .content-p {
          color: #353e52;
          text-align: center;
          font-family: Inter;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 48px;
          align-self: stretch;
        }

        .button {
          width: 100%;
          height: auto;
          display: flex;
          align-self: center;
          justify-content: center;
          align-items: center;
          padding: 0;
        }

        .goals-container {
          max-width: $maxWidth;
          margin: 0 auto;
          position: relative;

          .goals {
            display: inline-flex;
            flex-direction: column;
            gap: 35px;

            .goal {
              display: grid;
              grid-template-columns: 1fr 3fr;
              grid-template-rows: 1fr;
              grid-gap: 20px;
              align-items: center;
              justify-items: flex-start;
              margin: 0 auto;
              padding: 0;
              width: 100%;
              height: auto;
              position: relative;

              &::after {
                content: '';
                display: block;
                position: absolute;
                top: -24px;
                left: 0;
                width: 100%;
                height: 1px;
                background: #dfe8f9;

                @media (max-width: $mainBreakPoint) {
                  top: -12px;
                }
              }

              .goal-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;

                .goal-title {
                  align-self: stretch;
                  color: #135dff;
                  font-family: Inter;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 40px;
                }
                .goal-p {
                  color: #121723;
                  font-family: Inter;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 28px;
                  align-self: stretch;
                }
              }

              .goal-image-container {
                position: relative;
                overflow: hidden;

                .goal-image {
                  border-radius: 16px;
                  width: 231px;
                  position: relative;
                  overflow: hidden;
                  object-fit: contain;
                  object-position: center;
                }
              }
            }
          }
        }
      }
    }

    .article {
      padding: 20px;
      margin: 0;
      // width: 449.143px;
      width: 100%;
      height: auto;
      border-radius: 8px;
      background: linear-gradient(150deg, #f2f1f6 45.54%, #eef7ff 100%);

      .a-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-bottom: 20px;
        .image-container {
          position: relative;

          .image {
            float: left;
            padding: 10px 0;
            max-width: 220px;
            max-height: 55px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(242, 241, 246, 0.51);
          }
        }

        .date {
          float: right;
          font-size: 16px;
          font-weight: 500;
          color: $aq-black-2;
          line-height: 20px;
          text-align: right;
          letter-spacing: -0.4px;
        }
      }
      .a-body {
        padding-right: 20px;
        min-height: 250px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 50px;
        overflow-y: visible;
        .teaser {
          .article-name {
            font-size: 32px;
            line-height: 40px;
            font-weight: 500;
            color: $aq-black-2;
            max-height: 180px;
          }
          .first-line {
            max-width: 260px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: -10px;
            font-size: 15px;
            font-weight: 400;
          }
        }
        .a-link {
          position: relative;
          bottom: 0px;
          border: 1px solid $aq-black-1;
          border-radius: 8px;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 35px;
          small {
            font-size: 12px;
            padding-right: 5px;
          }
          .arrow-right {
            width: 15px;
            height: 15px;
            fill: $aq-black-0;
          }
        }
        .a-link:hover {
          cursor: pointer;
        }
        .a-link:link,
        .a-link:active,
        .a-link:focus,
        .a-link:visited {
          color: inherit;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    .CleanAir-highlights {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: auto;

      .highlights-wrapper {
        padding: 60px 60px 80px 60px;
        width: 1088px;
        height: auto;
        border-radius: 16px;
        background-color: $aq-blue-1;
        justify-items: center;
        align-items: center;

        .pill-con {
          #first-pill {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $aq-white-0;
            width: auto;
            height: 34px;
            padding: 4px 16px;
            box-sizing: border-box;
            border-radius: 1000px;
            margin-bottom: 24px;

            p {
              color: $aq-blue-2;
              font-size: $pill-font;
              font-weight: 500;
              line-height: 26px;
              padding: 0;
            }
          }
        }

        .events-section {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 0;

          .event-wrapper {
            .event-container {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              height: auto;

              .event-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                margin-left: 30px;

                h1 {
                  font-size: 36px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 42px;
                  color: #353e52;
                  margin: 0;
                }
                p {
                  color: #353e52;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 36px;
                  padding: 12px 0;
                  margin: 15px 0;
                }

                .time {
                  display: flex;
                  flex-direction: column;
                  margin: 15px 0;
                  .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    span {
                      margin-left: 10px;
                      font-weight: 400;
                    }
                  }
                }

                .event-btn {
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;
                  align-items: center;
                  margin-top: 0.5rem;
                  cursor: pointer;

                  button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 16px;
                    border: none;
                    background-color: #145dff;
                    color: $aq-white-0;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: left;
                    cursor: pointer;
                    outline: none;
                    &:hover {
                      background-color: #0e4dff;
                    }
                  }
                }
              }

              img {
                width: 100%;
                max-width: 465px;
                max-height: 450px;
                position: relative;
                object-fit: cover;
                border-radius: 8px;
                top: 5px;
              }
            }
          }
        }
      }
    }

    .card-container {
      .title {
        h2 {
          line-height: 36px;
          font-size: 28px;
          color: $aq-black-2;
          font-weight: 600;
          overflow-y: hidden;
        }
      }
      .sub-title {
        font-size: 18px;
        overflow-y: hidden;
      }
      .cta-links {
        position: relative;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .a-link {
          border: 1px solid $aq-black-1;
          border-radius: 10px;
          padding: 8px 16px;
          height: 35px;
        }
        .a-link:first-child {
          margin-right: 30px;
        }
        .link:first-child {
          margin-right: 40px;
        }
        .link {
          cursor: pointer;
          padding: 16px 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1px;
          background: #145dff;
          color: $aq-white-0;

          small {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
          }
        }
      }
    }

    .report-card {
      grid-column: 2 / 3;
      padding: 60px 50px;
      background-color: #fff;
      margin: 40px 0;
      border-radius: 8px;

      .report-card-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .category-type {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin-bottom: 10px;
        color: #135dff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
      }

      .main-text {
        font-size: 38px;
        line-height: 40px;
        color: $aq-blue-2;
        font-weight: 400;
      }
      .author {
        font-weight: 500;
        font-size: 24px;
      }
      .team {
        font-weight: 400;
        font-size: 20px;
      }
      hr {
        margin: 50px 0px;
      }
      .resource-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
      .link {
        cursor: pointer;
        padding: 16px 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1px;
        background: none;
        border-radius: 2px;
        border: 1px solid #000;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
        }
      }
    }

    .partners {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      max-width: $maxWidth;
      height: auto;
      overflow: hidden;

      .partners-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 16px;

        .membership-img-wrapper {
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 290px;
          margin-top: 60px;
          padding: 0;
          overflow: hidden;
          position: relative;

          .membership-img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
          }
        }

        .event-intro-image {
          .events-image {
            width: 100%;
            height: auto;
            max-height: 450px;
            object-fit: contain;
          }
        }

        .pagination-con {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          padding: 0;
          background: none;

          .showMore {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0;
            background: none;

            button {
              width: 100%;
              height: 100%;
              padding: 16px;
              border: none;
              color: #145dff;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              text-align: left;
              cursor: pointer;
              outline: none;
              &:hover {
                color: #0e4dff;
              }
            }
          }

          .showLess {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px auto;
            padding: 0;
            background: none;

            button {
              width: 100%;
              height: 100%;
              padding: 16px;
              border: none;
              color: #145dff;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              text-align: left;
              cursor: pointer;
              outline: none;
              &:hover {
                color: #0e4dff;
              }
            }
          }
        }

        .partners-intro {
          margin-bottom: 40px;
          p {
            font-size: 24px;
            line-height: 36px;
            font-weight: 400;
            color: #353e52;
            margin: 0;
            padding: 0;
            margin: 35px 0;
          }

          h2 {
            font-size: 40px;
            line-height: 60px;
            font-weight: 600;
            color: #121723;
            margin: 0;
            padding: 0;
          }
        }

        .partners-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          margin: 0 auto;
          padding: 0;

          .partner-img {
            width: 200px;
            height: auto;
            padding: 20px 0;
            box-sizing: border-box;
            max-width: 264px;
            margin: 0 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              max-width: 192px;
              max-height: 110px;
            }
          }
        }
      }
    }

    $primary-color: #145fff;
    $hover-color: #0e4dff;
    $font-color: #353e52;
    $font-color-light: #353e52a3;
    $background-color: #f2f1f6;
    $dot-color: #d9d9d9;

    .CleanAirForumEvent {
      .container {
        padding: 0 16px;
        max-width: $maxWidth;
        margin: 0 auto;
      }

      .time-data-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header-info {
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          span {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            margin-right: 15px;

            span {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: $dot-color;
            }

            .icon {
              margin-right: 10px;
            }
          }
        }
      }

      .headerScroll {
        // shadow bottom
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        .navigation {
          width: 100%;
          height: 74px;
          background-color: $background-color;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            height: 100%;

            li {
              display: inline-flex;
              align-items: center;
              margin-right: 30px;
              text-decoration: none;
              width: auto;
              height: 100%;
              position: relative;

              span {
                text-decoration: none;
                color: $font-color-light;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                  color: $font-color;
                }
              }
            }
          }
        }
      }

      .header {
        height: auto;
        position: relative;
        margin-top: -45px;
        margin-bottom: 40px;

        .activeClass {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #353e52;
          }
        }

        .navigation {
          width: 100%;
          height: 74px;
          margin-top: 10px;
          background-color: $background-color;
          overflow-x: scroll;

          // sticky navigation on scroll
          .nav {
            position: sticky;
            top: 0;
            z-index: 100;
          }

          &::-webkit-scrollbar {
            display: none;
          }

          ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            height: 100%;

            li {
              display: inline-flex;
              align-items: center;
              margin-right: 30px;
              text-decoration: none;
              width: auto;
              height: 100%;
              position: relative;

              span {
                text-decoration: none;
                color: $font-color-light;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                  color: $font-color;
                }
              }
            }
          }
        }
      }

      .body {
        color: #353e52;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        scroll-margin-top: 5rem;

        section {
          margin-bottom: 40px;
          .container {
            margin: 0;
            padding: 0;
          }
        }

        .separator {
          margin-top: 10px;
          margin-bottom: 40px;
          height: 1px;
          flex-shrink: 0;
          background-color: #353e52;
        }

        .section_title {
          color: #353e52;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          padding: 0;
          margin: 0;
        }

        .about {
          max-width: 92%;

          .intro {
            margin-bottom: 40px;

            a {
              cursor: pointer;
              color: #353e52;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              text-decoration-line: underline;
            }
          }

          .engagements_list {
            div {
              margin-bottom: 20px;

              h3 {
                font-size: 24px;
                line-height: 150%;
              }

              p {
                font-size: 24px;
                font-weight: 400;
                line-height: 120%;
              }
            }
          }
        }

        .Funding_partners,
        .forum_partners {
          width: 100%;
          .content-section {
            display: block;
          }

          .image-con {
            display: flex;
            flex-wrap: wrap;

            img {
              width: 100%;
              max-width: 130px;
              margin: 10px;
              height: auto;
              object-fit: contain;
              object-position: center;
            }
          }
        }

        .speakers {
          .AboutUsPage__pictorial {
            display: flex;
            flex-wrap: wrap;
            .profile {
              padding: 20px;
              background: #f2f1f6;

              .profile-image {
                border-radius: 10px;
              }

              .img-preview-container {
                margin-bottom: 10px;
              }

              .info {
                .info-left {
                  span {
                    color: #135dff;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    cursor: pointer;
                  }
                }
              }
            }

            .showMoreLessBtn {
              width: 100%;
              display: flex;
              justify-content: center;

              button {
                color: #135dff;
                display: flex;
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                border-radius: 1px;
                border: none;
                font-size: 16px;
                background: rgba(19, 93, 255, 0.06);
                cursor: pointer;
              }
            }
          }
        }

        .schedule {
          .event {
            background-color: #f0f0f0;
            margin-bottom: 15px;
            padding: 30px;
            cursor: pointer;

            .event-head {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            p {
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px;
              padding: 0;
              margin: 0;
            }

            .date {
              font-weight: bold;
            }

            .event-details {
              display: grid;
              grid-template-columns: 1fr 3fr;
              grid-template-rows: 1fr;
              grid-gap: 20px;
              justify-items: flex-start;
              margin-top: 10px;
              padding: 10px 0;
              width: 100%;
              height: auto;
              position: relative;
              border-top: 1px solid #353e52;

              @media (max-width: $mainBreakPoint) {
                grid-template-columns: 1fr;
              }

              .event-details__time {
                p {
                  margin: 0;
                  padding: 0;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 32px;
                }
              }

              .event-details__content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .title {
                  font-style: normal;
                  font-weight: 600;
                  line-height: 32px;
                }
              }
            }
          }
        }

        .registration {
          .engagements_list {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              font-size: 24px;
              line-height: 150%;
            }
            a {
              color: #135dff;
              cursor: pointer;
            }
          }
        }

        .support {
          a {
            color: #135dff;
            cursor: pointer;
          }
        }
      }

      @media (max-width: 768px) {
        body {
          font-size: 16px;
        }
      }
    }
  }

  /****************************************************/
  /*************** Responsivness **********************/
  /****************************************************/
  @media (max-width: $tabBreakPoint) {
    .page-container {
      .partners {
        .partners-wrapper {
          .event-intro-image {
            padding: 40px 0;
          }
          .membership-img-wrapper {
            margin-top: 20px;
            height: 200px;
          }
        }
      }

      .events {
        .event-card {
          display: flex;
          flex-direction: column;
        }
      }

      .article {
        position: relative;
        width: 100%;
        height: auto;
      }

      .textSplit-section {
        .container {
          padding: 20px 16px;
        }
        .grid-container {
          justify-content: center;
        }
      }

      .single-section {
        padding: 0;

        .content {
          .content-h,
          .content-p {
            font-size: 24px;
            line-height: 32px;
          }

          .goals-container {
            padding: 16px;

            .goals {
              gap: 20px;

              .goal {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-gap: 20px;
                align-items: center;
                justify-items: flex-start;
                margin: 0 auto;
                padding: 0;
                width: 100%;
                height: auto;
                position: relative;

                &::after {
                  content: '';
                  top: -15px;
                }

                .goal-content {
                  .goal-title,
                  .goal-p {
                    font-size: 24px;
                    line-height: 32px;
                  }
                }
              }
            }
          }

          .acronym-image {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
            margin-bottom: -1rem;
            object-fit: cover;
            object-position: bottom;
          }
        }
      }

      .splitSection-section {
        padding: 0;
        margin: 40px 0 0;

        .backdrop,
        .backdrop-rev {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 16px;
          height: auto;
        }

        .backdrop {
          justify-items: center;
          .splitSection-image {
            max-width: 400px;
          }
        }

        .backdrop-rev {
          flex-direction: column-reverse;
          justify-items: center;
        }
      }

      .CleanAir-highlights {
        .highlights-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 0fr 0fr;
          grid-gap: 50px;
          width: 100%;
          height: auto;
          border-radius: 0;
          padding: 60px 16px 40px 16px;

          .events-section {
            .event-wrapper {
              flex-wrap: wrap;

              .event-container {
                flex-direction: column;

                .event-content {
                  display: block;
                  margin-left: 0;

                  h1,
                  p,
                  .event-btn span {
                    font-size: 20px;
                    line-height: 20px;
                  }

                  p,
                  .event-btn span {
                    font-size: 14px;
                    line-height: 14px;
                  }
                }

                img {
                  margin-bottom: 25px;
                  width: 100%;
                  height: 450px;
                  max-width: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $mainBreakPoint) {
    .page-container {
      .partners {
        .partners-wrapper {
          .partners-intro {
            width: auto;
            font-size: 24px;
            line-height: 32px;
            margin-top: 30px;
          }
          .event-intro-image {
            padding: 40px 0;
          }
          .membership-img-wrapper {
            margin-top: 20px;
            height: 140px;
          }
        }
      }

      .report-card {
        padding: 40px 20px;
      }

      .events .event-cards .event-card {
        align-items: center;
      }

      .banner {
        flex-direction: column;
      }

      .Hero {
        .hero-content {
          .hero-title {
            font-size: 48px;
            line-height: 54px;
          }
        }
        .image-container {
          margin-bottom: 20px;
        }
      }

      .article {
        position: relative;
        width: 100%;
        height: auto;
        .a-body {
          .teaser {
            .article-name {
              font-size: 24px;
              line-height: 32px;
            }
          }
        }
      }

      .splitSection-section {
        width: 100%;
        padding: 40px 0;
        margin: 40px 0 0;

        .backdrop,
        .backdrop-rev {
          .splitSection-image {
            margin: 0;
            padding: 0;
            display: block;
            height: auto;
            width: 100%;

            .splitSection-img {
              float: none;
              height: auto;
              width: 100%;
              object-fit: contain;
            }
          }
        }

        .backdrop-rev {
          .splitSection-image {
            display: flex;
            justify-content: center;
            align-content: center;

            .splitSection-img {
              height: 100%;
              border-radius: 8px;
            }
          }
        }
      }

      .single-section {
        .content {
          .goals-container {
            .goals {
              .goal {
                .goal-image-container {
                  .goal-image {
                    width: 100%;
                    height: 190px;
                    object-fit: contain;
                    object-position: center;
                  }
                }
              }
            }
          }
        }
      }

      .single-section {
        padding: 0;
        margin-bottom: 0px;
        margin-top: 80px;
        .content {
          .content-h {
            font-size: 24px;
            line-height: 32px;
          }
          .content-p {
            font-size: 20px;
            line-height: 28px;
          }
          .acronym-content-container {
            top: 20px;
          }
          .goals-container {
            padding: 0 16px;
            .goals {
              gap: 20px;
              .goal {
                &::after {
                  content: '';
                  display: none;
                }
                .goal-content {
                  .goal-title {
                    font-size: 24px;
                    line-height: 32px;
                  }
                  .goal-p {
                    font-size: 20px;
                    line-height: 28px;
                  }
                }
              }
            }
          }
        }
      }

      .CleanAir-highlights {
        .highlights-wrapper {
          .events-section {
            .event-wrapper {
              .event-container {
                flex-direction: column;
                img {
                  margin-bottom: 25px;
                  width: 100%;
                  height: 250px;
                }
                .event-content {
                  margin-left: 0;
                  h1 {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
        }
      }

      .CleanAirForumEvent {
        .header {
          height: auto;

          .header-main-info {
            margin-bottom: 10px;
            h1 {
              font-size: 30px;
            }

            h2 {
              font-size: 24px;
            }
          }

          .register-btn {
            width: 200px;
            height: 50px;
            margin-bottom: 20px;
          }

          .body {
            .speakers {
              margin-bottom: 40px;
              .AboutUsPage__pictorial {
                justify-content: center;
                img {
                  max-height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .page-container {
      .acronym-image-container {
        display: none;
      }
      .acronym-section {
        padding: 40px 0;
      }
    }
  }

  @media (min-width: 500px) and (max-width: 580px) {
    .page-container {
      .splitSection-section {
        .backdrop {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }
      }
    }
  }
}
