@import "lib/variables";
@import "lib/colors";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Serif+Text&display=swap');

.CommunityPage {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-style: normal;

    h1, h2, h3, h6 {
        margin: 0;
        padding: 0;
    }

    .hero {
        width: 100%;
        height: 416px;
        background-color: $aq-orange-0;
        margin: 0 auto;

        .header-1 {
            padding-top: 104px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h6, .arrow-forward {
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                color: $aq-black-2;
            }

            .arrow-forward {
                margin: 0 7px;
            }   
        }

        .header-2 {
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            margin: 32px auto 16px auto;
            color: $aq-black-1;
        }

        .header-3 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            text-align: center;
            width: 720px;
            margin: 0 auto;
            color: $aq-black-1;
        }
    }

    .community_wrapper {
        position: relative;
        max-width: $columnWidth;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        height: auto;

        .blob-img {
            margin-top: 80px;
            margin-bottom: 160px;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: contain;
            object-position: center center;
        }

        .section-1 {
            position: relative;
            width: 100%;
            margin-bottom: 160px;

            .layer-1 {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 482px;
                z-index: 2;
                
                .text {
                    flex: 0.5;

                    .row {
                        display: flex;
                        align-items: center;

                        .img-star {
                            box-sizing: border-box;
                            padding: 18px;
                            border-radius: 54px;
                            background-color: #145DFF14;
                            margin-right: 24px;
                        }
                    }

                    h1 {
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 48px;
                        color: $aq-black-1;
                        margin: 0;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 400;
                        margin: 0;
                        margin-right: 66px;
                        margin-bottom: 25px;
                        color: $aq-black-1;
                    }
                }

                .img-stack {
                    flex: 0.5;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .stack-1 {
                        flex: 0.5;
                        width: 262px;

                        img {
                            width: 100%;
                            height: 231px;
                            object-fit: cover;
                            border-radius: 8px;
                        }

                        img:nth-child(2) {
                            margin-top: 15px;
                        }
                    }
                    
                    .stack-2 {
                        margin-left: 24px;
                        flex: 0.5;
                        width: 262px;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                    
                }
            }

            .layer-2 {
                position: absolute;
                z-index: -1;
                left: 58.42%;
                right: 3.94%;
                top: 25.13%;
                bottom: 30.68%;
                transform: rotate(2.54deg);
                transform: scale(1.7);
            }
        }

        .strip {
            margin-bottom: 168px;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            .left-strip {
                width: 361px;
                height: 238px;
                padding: 59px 39px 56px 64px;
                border-top-left-radius: 1000px;
                border-bottom-left-radius: 1000px;
                background-color: $aq-orange-0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 32px;
                box-sizing: border-box;

                
                >span {
                    display: flex;
                    align-items: center;

                    h3 {                      
                        font-family: 'DM Mono', monospace;
                        font-weight: 400;
                        font-size: 44.54px;
                        line-height: 51.97px;
                        color: $aq-orange-1;
                        margin-right: 9.16px;
                    }

                    .left-strip-arrow {
                        font-size: 44.54px;
                        line-height: 51.97px;
                    }
                    
                }

                >h3 {
                    font-family: 'DM Serif Text', serif;
                    font-weight: 400;
                    font-size: 32.22px;
                    line-height: 37.59px;
                    color: $aq-black-2;
                }
            }

            .right-strip {
                border-top-right-radius: 1000px;
                border-bottom-right-radius: 1000px;
                background-color: $aq-orange-0;
                padding: 49px 59px;
                box-sizing: border-box;
                width: 655px;
                height: 238px;

                h3 {
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 40px;
                    color: $aq-black-2;
                    width: 557px;
                }
                
            }
        }

        .lower-banner {
            padding: 66px;
            width: 100%;
            border-radius: 8px;
            background-color: $aq-orange-0;
            margin-bottom: 40px;

            >img {
                width: 60.64px;
                height: 47.17px;
            }

            h2 {
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                color: $aq-black-2;
                padding-top: 14.83px;
            }

            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                padding-top: 32px;
            }

            h6 {
                font-size: 20px;
                line-height: 28px;
                padding-top: 4px;
                font-weight: 400;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $aq-white-0;
                border-radius: 16px;
                outline: 0;
                height: 48px;
                width: 197px;
                border: 0;
                margin-top: 36px;
                font-size: 20px;
                line-height: 26px;
                font-weight: 400;
                cursor: pointer;
            }
        }

        .bottom-hero-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 216px;
            height: auto;
            max-width: $columnWidth;
            width: 100%;
            border-radius: 16px;
            background-color: #FFEA2B;

            h3 {
                padding-top: 64px;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                color: $aq-blue-2;
                margin-bottom: 32px;
                text-align: center;
            }

            .section-link {
                font-size: 16px;
                line-height: 24px;
                color: $aq-blue-2;
                padding-bottom: 64px;
            }
        }
    }
}

@media(max-width: $mainBreakPoint) {
    .CommunityPage {
        overflow-x: visible;
        
        .hero {
            height: 100%;
            padding: 64px 16px 80px 16px;
            position: relative;
            
            .header-1 {
                justify-content: flex-start;
                padding: 0;
                margin-bottom: 16px;
            }

            .header-2 {
                margin: 0 0 16px 0;
                text-align: left;
            }

            .header-3 {
                text-align: left;
                width: 100%;
            }
        }

        .community_wrapper {
            width: 100%;
            height: 100%;
            position: relative;

            .blob-img {
                display: none;
            }

            .section-1 {
                position: relative;
                flex-direction: column;
                padding: 80px 16px;
                margin: 0;

                .layer-1 {
                    flex-direction: column;
                    height: 100%;

                    .text {
                        margin-bottom: 23px;
                        p {
                            width: 100%;
                        }

                        .row {
                            flex-direction: column;
                            align-items: flex-start;
    
                            .img-star {
                                margin-bottom: 20px;
                            }
                        }
                    }

                    .img-stack {
                        width: 100%;
                        justify-content: flex-start;
                        flex-direction: column;
                        
                        .stack-1 {
                            width: 100%;
                            img {
                                width: 100%;
                                object-fit: cover;
                                margin-bottom: 24px;
                            }
                        }

                        .layer-2 {
                            display: none;
                        }

                        .stack-2 {
                            display: none;
                        }
                    }
                }
            }

            .strip {
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                height: 100%;
                margin-bottom: 0;

                .left-strip {
                    margin-bottom: 39px;
                    margin-right: 0;
                    align-self: flex-end;
                    width: 327px;
                    height: 254px;
                    align-items: flex-start;
                    padding: 71px 41px 83px 67px;
                    box-sizing: border-box;
                    

                    >h3 {
                        font-size: 28px;
                        line-height: 30.54px;
                    }
                }
                .right-strip {
                    margin-top: 78px;
                    width: 326px;
                    height: auto;
                    padding: 39px 63px 39px 32px;
                    box-sizing: border-box;
                    align-self: flex-start;

                    h3 {
                        font-size: 24px;
                        text-align: left;
                        width: 100%;
                        line-height: 29.25px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .lower-banner {
                margin: 0 16px;
                margin-bottom: 40px;
                padding: 40px 32px;
                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }

                h3 {
                    font-size: 20px;
                    line-height: 28px;
                }

                h6 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .bottom-hero-section {
                margin: 0 16px;
            }
        }
    }
}