@import 'lib/colors';

.brand-icon {
    width: 71px;
    height: 48px;
    margin-bottom: 32px;
}

.nav-button {
    height: 56px;
    border-radius: 2px;
    outline: 0;
    border: 0;
    background-color: $aq-blue-4;
    color: $aq-white-0;
    cursor: pointer;
    margin-bottom: 38px;
    font-size: 16px;
}

.ExploreData {
    display: flex;
    width: 100%;
    height: 100vh;

    .left-section {
        max-width: 640px;
        width: 100%;
        height: 100%;
        background-color: $aq-blue-8;
        padding-left: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nav {
            display: flex;
            align-items: center;
            color: $aq-blue-2;
            margin-bottom: 64px;

            .blur-text {
                color: #A8B2C7;
            }

            h3 {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
            }

            .icon {
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                margin: 0 16px;
            }
        }

        .content {
            h2 {
                font-size: 40px;
                font-weight: 500;
                line-height: 48px;
                width: 419px;
                color: $aq-blue-2;
                margin: 0;
                margin-bottom: 24px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                color: $aq-blue-2;
                width: 341.63px;
                margin: 0;
            }
        }
    }

    .right-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        width: 100%;
        height: 100%;

        .nav-icon {
            position: absolute;
            top: 24px;
            right: 24px;
            color: $aq-blue-2;
            font-size: 13px;
        }

        .nav {
            display: flex;
            
            .nav-option {
                border: 1px solid $aq-blue-8;
                border-radius: 16px;
                padding: 20px;
                width: 304px;
                height: 404px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 12px;

                .img-wrapper {
                    width: 264px;
                    height: 200px;
                    background-color: $aq-blue-8;
                    border-radius: 8px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    .img-1 {
                        width: 176.77px;
                        padding-top: 38px;
                        margin: 0 auto;
                    }

                    .img-2 {
                        width: 221.69px;
                        padding: 0 auto;
                    }
                }

                h6 {
                    margin: 0;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 40px;
                    color: $aq-blue-2;
                    width: 225px;
                }

                button {
                    width: 264px;
                }
            }
        }
    }
}

.ExploreDataWrapper {
    display: flex;
    height: 100vh;
    width: 100%;

    .left-section {
        height: auto;
        overflow-y: hidden;
        max-width: 640px;
        width: 100%;

        img {
            object-fit: cover;
            object-position: top center;
        }
    }

    .right-section {
        width: 100%;
        max-width: 800px;
        height: 100vh;

        .nav-row {
            display: flex;
            justify-content: space-between;
            padding: 24px;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.ExploreApp {
    margin: 5% 14%;

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        width: 275px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 8px; 
    }

    p {
        width: 484px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 64px;
        
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 467px;
        height: 240px;
        border-radius: 16px;
        border: 1px solid #C1C8D7;

        hr {
            height: 208px;
            width: 0;
            margin: 0 24px;
            border-color: #C1C8D7;
        }

        .btn-group {
            display: flex;
            flex-direction: column;
        }
    }
        
    
}

.GetStarted {
    margin: 5% 14%;

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 12px; 
    }

    p {
        width: 407px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 64px;
        
    }

    button {
        width: 360px;   
    }

    small {
        display: block;
        width: 360px;
        height: 56px;
        border: 1px solid #DADEE7;
        text-align: center;
        padding: 18px 70px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $aq-blue-2;
        cursor: pointer;

        >span {
            font-weight: 500;
            color: $aq-blue-4;
            padding-left: 4px;
            box-sizing: border-box;
        }
    }
        
}

.GetStartedForm {
    margin: 10% 14%;

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 12px; 
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 64px;
        
    }

    .radio-field {
        .radio-field-option {
            border-radius: 8px;
            border: 1px solid #DADEE7;
            width: 544px;
            height: 80px;
            padding: 28px 0 28px 24px;
        }

        .radio-field-option:first-child {
            margin-bottom: 24px;
        }
    }    
}

.ExploreFormWrapper {
    margin: auto 14%;

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: $aq-blue-2;
        margin: 0;
        margin-bottom: 48px; 
    }

    .create-account-form {
        .form-option {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            label {
                margin-bottom: 8px;
            }

            .form-control {
                border-radius: 8px;
                background-color: $aq-blue-8;
                width: 360px;
                height: 56px;
                padding-left: 12px;
                box-sizing: border-box;
                outline: 0;
                border: 0;
            }
        }

        .tos {
            display: inline-block;
        }

        button {
            width: 360px;
            margin-bottom: 40px;
        }

        small {
            display: block;
            width: 360px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $aq-blue-2;
            cursor: pointer;

            >span {
                font-weight: 500;
                color: $aq-blue-4;
                padding-left: 4px;
                box-sizing: border-box;
            }
        }
    }  
}

.ConfirmExploreDataMail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .content {
            

        h2 {
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            color: $aq-blue-2;
            margin: 0;
            margin-bottom: 24px; 
            text-align: center;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: $aq-blue-2;
            margin: 0;
            margin-bottom: 64px;
            text-align: center;
            width: 652px;
        }

    }

    button {
        width: 148px;
        padding: 16px 32px;
        box-sizing: border-box;
    }
}