@import "lib/variables";
@import "lib/colors";

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 100%;
    max-width: 720px;
    min-height: 604px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 12px 26px;

   .modal-title {
     display: flex;
     justify-content: space-between;
     align-items: center;
     >span {
       height: 40px;
       font-style: normal;
       font-weight: 500;
       font-size: 18px;
       line-height: 40px;
       /* identical to box height, or 222% */

       color: #353E52;
     }
   }

   .divider {
     margin: 12px 0 16px 0;
     border: 1px solid rgba(53, 62, 82, 0.08);
   }

   .title {
     min-height: 40px;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
     /* identical to box height, or 125% */

     color: #353E52;
   }

   .sub-title {
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 32px;
     /* identical to box height, or 160% */

     color: #353E52;
     margin: 4px 0 40px 0;
   }

   .category-label {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     /* identical to box height, or 143% */

     text-transform: uppercase;

     color: rgba(53, 62, 82, 0.5);
   }

   .tab {
     display: flex;
     align-items: center;
     width: 168px;
     height: 40px;
     padding: 0 15px;

     >span {
       color: #353E52;
       margin-left: 15px;
     }
   }

   .tab:hover {
     cursor: pointer;
     background: #F2F1F6;
     border-radius: 8px;
   }

   .tab-selected {
     background: #F2F1F6;
     border-radius: 8px;
   }
   .tab-margin {
     margin: 12px 0 40px 0;
   }

   .tab-margin-sm {
     margin: 12px 0 10px 0;
   }
   .tab-mb {
     margin-bottom: 0;
   }

   .countries {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }

   .btns {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
   }

   .save-btn {
     height: 48px;
     width: 86px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px 24px;

     background: #135DFF;
     border-radius: 16px;

     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;

     color: #FFFFFF;

     text-transform: capitalize;
     cursor: pointer;
   }
   .cancel-btn {
     width: 101px;
     height: 48px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 12px 24px;

     background: rgba(19, 93, 255, 0.06);
     border-radius: 16px;

     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;

     color: #135DFF;

     text-transform: capitalize;

     margin-right: 20px;
     cursor: pointer;
   }

   .modal-cancel:hover {
     cursor: pointer
   }
  }

.Footer {
  width: 100%;
  padding: 80px 16px 16px 16px;



  .body-section {
    display: flex;
    flex-wrap: wrap;
    .logo {
        width: 44%;

        .logo-text {
          width: 250px;
          height: 56px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: $aq-blue-2;
          margin: 24px 0 32px 0;
        }

        .social-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 176px;
          height: 40px;
        }
      }

    .airqlouds-summary {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 144px;
      border: 1px solid $aq-black-4;
      border-left: none;
      border-right: none;
      margin-bottom: 40px;

      .airqloud-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 144px;
        height: 40px;
        padding: 0 10px;
        background: $aq-white-3;
        border-radius: 8px;

        >span {
          min-width: 52px;
          height: 20px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $aq-black-2;
        }
      }

      .airqloud-dropdown:hover {
        cursor: pointer;
      }

      .airqloud-count {
        .count-value {
          font-family: 'DM Mono';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;

          color: $aq-white-5;

          >span {
            width: 18px;
            height: 24px;
            margin: 0 4px;

            background: $aq-blue-0;
            border-radius: 2px;
            padding: 3px 5px;
          }
        }
        .count-text {
          width: 168px;
          height: 26px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: $aq-black-2;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;

    .content-tabs {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 48px;
        width: 100%;
        >span {
          display: flex;
          width: 50%;
          flex: none;
          order: 0;
          flex-grow: 1;
          margin-top: 0;
          margin-bottom: 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: $aq-black-0;
        }

        >div {
          width: 50%;
          span {
            display: flex;
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 1;
            height: 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: $aq-black-2;
            margin-bottom: 16px;

            a:link, a:active, a:focus, a:visited {
              color: inherit;
              cursor: pointer;
              text-decoration: none;
            }
          }

          span:hover {
            color: $aq-black-0;
          }
        }
      }
    }

  .text-copyright, .text-terms {
    font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 24px;
      color: $aq-black-2;
  }

  .text-terms:hover {
    color: $aq-black-0;
  }

  .terms-section {
    display: flex;
    flex-wrap: wrap;

    a:link, a:active, a:focus, a:visited {
      color: inherit;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .mr-24 {
    margin-right: 24px;
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  .project {
      width: 237.04px;
      height: 37.28px;
    }

  .project-text {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      width: 72px;
      height: 14px;

      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;

      color: $aq-black-1;
      opacity: 0.4;

      margin-bottom: 6px;
    }

}

.footer-wrapper {
  max-width: $columnWidth;
  margin: 0 auto;
}

@media (min-width: $mainBreakPoint) {

  .Footer {
    width: 100%;
    height: 687px;
    padding: 80px 0 0 0;
    background: $aq-white-0;
    font-family: 'Inter', serif;

    .body-section {
      display: flex;
      height: 539px;

      .logo {
        width: 44%;
        min-height: 315px;
      }

      .content {
        justify-content: flex-end;
        width: 56%;
        margin-top: unset;

        .middle-tab {
          margin: 0 80px;
        }

        .content-tabs {
          display: unset;
          width: unset;
          >span {
            width: unset;
          }
          >div {
             width: unset;
            >span {
              display: block;
              margin-top: 21px;
              margin-bottom: unset;
            }
          }
        }
      }

      .airqlouds-summary {
        margin-bottom: unset;
      }
    }

    .copyright-section {
      display: flex;
      height: 80px;
    }

    .copyright-container {
      display: flex;
      align-items: center;
      width: 70%;
    }

    .project-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;
    }

    .text-copyright {
      display: flex;
      align-items: center;
      margin: 0 48px 0 0;

    }

    .text-terms {
      display: flex;
      align-items: center;
      margin: 0 48px;
    }

    .terms {
      display: flex;
      align-items: center;
      text-align: center;
      width: 80px;
      height: 32px;
      margin-right: 24px;
    }

    .privacy {
      display: flex;
      align-items: center;
      text-align: center;
      width: 80px;
      height: 32px;
    }
  }
}
