.GetInvolvedModalWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  outline: none;
}

.tab-active {
    border: 5px solid #135DFF;
  }

.tab-inactive {
  border: 1px solid #D1D3D9;
}

.GetInvolvedTab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 544px;
  height: 128px;
  border-radius: 8px;
  padding: 24px;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
    border: 1px solid #135DFF;
  }

  .img-placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #F1F5FF;
    border-radius: 50%;
  }

  .text-holder {
    width: 399px;
    height: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #353E52;
  }
}

.GetInvolvedModal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 900px;
  margin: auto;
  outline: none;

  .banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    background: #F3F4F7;

    .section-nav {
      display: flex;
      align-items: center;
      height: 24px;
      margin-bottom: 64px;

      h5 {
        font-weight: 400;
        color: #353E52;
        font-size: 16px;
        line-height: 24px;
      }

      .icon {
        margin-right: 8px;
        margin-left: 8px;
        width: 14px;
        height: 14px;
        color: #353E52;
      }
    }

    .section-title {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      color: #353E52;
    }

    .banner-content {
      max-width: 341px;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: #353E52;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    //max-width: 800px;
    height: 100%;
    background: white;
    padding: 30px;

    >span {
      display: flex;
      width: 100%;
      height: 20px;
      justify-content: space-between;

      >svg:hover {
        cursor: pointer;
        >path {
          fill: deepskyblue;
        }
      }
    }

    >div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    .form-section {
      max-width: 320px;
      margin: 0 auto 0 0;
      margin-left: 159px;

      .register-form {
        width: 100%;
        color: #353E52;

        .form-field {
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
          width: 100%;

          input[type="text"], input[type="email"] {
            width: 360px;
            height: 56px;
            background-color: #F3F4F7;
            margin-top: 12px;
            border: 0;
            outline: 0;
            border-radius: 8px;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            color: #353E52;

            padding: 18px 20px;
          }

          label {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
          }
        }

        .input-field {
          display: flex;
          align-items: center;
          margin-bottom: 48px;

          input[type="checkbox"] {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin-right: 16px;
            border: 1px solid #D1D3D9;
          }

          label {
            font-size: 12px;
            line-height: 22px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }

      .section-button-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .register-btn {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 181px;
          height: 56px;
          border-radius: 2px;

          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          outline: 0;
          border: 0;
        }

        .btn-disabled {
          color: rgba(53, 62, 82, 0.28);
          background: rgba(53, 62, 82, 0.08);
          cursor: not-allowed;
        }

        .btn-active {
          color: #FFFFFF;
          background: #135DFF;
          cursor: pointer;
        }
      }

      .back-btn {
          width: 91px;
          padding: 12px 27px;
          color: $aq-blue-4;
      }

      .register-btn {
          width: 198px;
          padding: 12px 22px;
          color: #353e5247;
      }

      .back-btn:hover {
          background-color: $aq-blue-7;
      }

      .register-btn:hover {
          color: $aq-blue-4;
          background-color: $aq-blue-7;
      }
    }
  }

  .complete {
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
    background: #F3F4F7;

    .content-wrapper {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 100%;
      height: 624px;
    }

    .main-text {
      display: flex;
      align-items: center;
      text-align: center;
      width: 466px;
      height: 96px;

      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;

      color: #353E52;
      margin: 0;
    }

    .secondary-text {
      display: flex;
      align-items: center;
      text-align: center;
      width: 652px;
      height: 56px;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;

      color: #353E52;
    }

    .btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 148px;
      height: 56px;
      padding: 16px 32px;
      background: #135DFF;
      outline: none;
      border: none;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}