@import "lib/variables";
@import "lib/colors";

.button-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 175px;
  height: 56px;

  background: $aq-blue-0;
  border: none;
  
  font-style: normal;
  font-weight: 500;
  font-size: $buttonFont;
  line-height: 24px;
  color: $aq-white-0;
  cursor: pointer;
}

.button-get-involved {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  padding: 16px 32px;

  background: $aq-blue-5;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: $buttonFont;
  line-height: 24px;

  color: $aq-blue-0;

  margin-top: 24px;
  cursor: pointer;
}

.button-get-involved:hover {
  background-color: $aq-blue-7;
}

.button-hero:hover {
  background-color: $aq-blue-6;
}

.button-signin {
  font-style: normal;
  font-weight: 400;
  font-size: $buttonFont;
  line-height: 24px;
  color: $aq-blue-0;
  margin-left: 42px;
  border: none;
  background: $aq-white-0;
}


.Hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 621px;
  max-width: $columnWidth;
  background: $aq-white-0;
  color: $aq-black-1;
  margin: 0 auto;


  >span {
    position: relative;
    padding: 0;
    >img {
      width: 360px;
      height: 235px;
       z-index: 5;
    }

    .air-quality-reading {
      display: none;
    }
  }
  .hero-title {
    width: 464px;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;

    color: $aq-black-2;
    margin: 32px 0 16px 0;
  }

  .hero-sub {
    width: 328px;
    min-height: 84px;
    font-style: normal;
    font-weight: 400;
    font-size: $subTextFont;
    line-height: 28px;
    margin: 0;
  }

  .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 328px;
    padding-top: 48px;
    margin: 40px 0 80px 0;

    .btn-disabled {
      color: rgba(53, 62, 82, 0.28);
      background: rgba(53, 62, 82, 0.08);
      cursor: not-allowed;
    }
  }
}

@media (min-width: $mainBreakPoint) {
  .Hero {
    align-items: center;
    justify-content: space-between;

    >span {
      > img {
        position: relative;
        width: 555px;
        height: 464px;
        border-radius: 16px;
        margin: 0;
        z-index: 5;
      }

      .air-quality-reading {
        display: block;
        position: absolute;
        width: 470px;
        height: 584px;
        top: -48px;
        left: 42.5px;
        padding: 12px 16px;

        background: $aq-green-2;
        border: 1px solid $aq-green-3;
        box-sizing: border-box;
        border-radius: 16px;

        .top-reading {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name-wrapper, .time-wrapper {
            display: flex;
            align-items: center;
          }

          .location-name {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-left: 12px;

            color: $aq-green-4;
          }

          .location-time {
            font-family: 'DM Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-right: 26px;

            text-transform: capitalize;

            color: $aq-green-5;
          }
        }

        .divider {
          height: 500px;
        }

        .bottom-reading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .category-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 88px;
            height: 32px;

            background: $aq-green-6;
            border-radius: 725px;

            .category-indicator {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              border: none;
              background: $aq-green-7;

              > span {
                width: 10px;
                height: 10px;
                background: $aq-green-9;
                border-radius: 50%;
                border: none;
              }
            }

            .category-text {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              margin-left: 6px;

              color: $aq-green-4;
            }
          }

          .pollutant-wrapper {
            display: flex;

            .value {
              font-family: 'Roboto Mono';
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 24px;

              display: flex;
              align-items: center;
              text-align: center;
              letter-spacing: -0.022em;

              color: $aq-green-4;
            }
            .pollutant {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 12px;
              width: 73px;
              height: 24px;
              background: $aq-green-8;
              border-radius: 4px;
              margin-left: 17px;

              .text {
                width: 34px;
                height: 24px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;

                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.022em;

                color: $aq-green-4;

                sub {
                  vertical-align: baseline;
                  position: relative;
                  top: 0.6em;
                }
              }
            }
          }
        }
      }
    }

    .hero-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      max-width: 640px;
      order: -1;
    }

    .hero-title {
      width: 520px;
      margin: 0;
    }
    .hero-sub {
      width: 462px;
      height: 84px;
      margin: 16px 0 40px 0;
    }
    .hero-buttons {
      width: 359px;
      margin: 0;
    }
  }

  .button-get-involved {
    margin-top: 0;
    margin-left: 24px;
  }

}

@media(max-width: $mainBreakPoint) {
  .Hero {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;

    >span {
      position: relative;
      padding: 0 16px;
      margin-bottom: 40px;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .hero-content {
      padding: 0 16px;
      width: 100%;
    }

    .hero-title {
      width: 100%;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: $aq-black-1;
      margin: 0;
      margin-bottom: 16px;
    }

    .hero-sub {
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }

    .hero-buttons {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
  }

  .button-hero, .button-get-involved {
    width: 100%;
    padding: 16px auto;
    box-sizing: border-box;
  }

  .button-get-involved {
    margin-top: 12px;
  }
}

@media(max-width: 411px) {
  .hero-buttons {
    max-width: 328px;
    width: 100%;
    margin: 0;
  }

  .button-hero {
    width: 328px;
    padding: 16px 108.5px;
  }

  .button-get-involved {
    margin-top: 12px;
    width: 328px;
    padding: 16px 116px;
    box-sizing: border-box;
  }
}