@import "lib/variables";
@import "lib/colors";

.button-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 175px;
  height: 56px;

  background: $aq-blue-0;
  border: none;
  border-radius: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $aq-white-0;
}

.button-get-involved {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  padding: 16px 32px;

  background: $aq-blue-3;
  border-radius: 16px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: $aq-blue-0;

  margin-top: 24px;
}

.button-signin {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $aq-blue-0;
  margin-left: 42px;
  border: none;
  background: $aq-white-0;
}


.Hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: $columnWidth;
  background: $aq-white-0;
  color: $aq-black-1;
  margin: 0 auto;

  >img {
    width: 360px;
    height: 235px;
  }
  .hero-title {
    width: 328px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;

    color: $aq-black-2;
    margin: 32px 0 16px 0;
  }

  .hero-sub {
    width: 328px;
    min-height: 84px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 328px;
    margin: 40px 0 80px 0;
  }
}

@media (min-width: $mainBreakPoint) {
  .Hero {
    justify-content: space-between;
    >img {
      width: 640px;
      height: 730px;
      margin: 0;
    }

    .hero-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 730px;
      max-width: 640px;
      order: -1;
    }

    .hero-title {
      width: 520px;
      margin: 0;
    }
    .hero-sub {
      width: 462px;
      height: 84px;
      margin: 16px 0 40px 0;
    }
    .hero-buttons {
      width: 359px;
      margin: 0;
    }
  }

  .button-get-involved {
    margin-top: 0;
    margin-left: 24px;
  }

}
