@import "lib/colors";
@import "lib/variables";

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

.highlights-section{
    display: grid;
    grid-template-columns: $gridColumn;
    height: 644px;
    background-color: $aq-blue-1;
    padding: 90px 0 60px 0;
    .highlights-container{
        grid-column: 2 / 3;
        overflow-x: visible;
    }
    .content{
        @include flex-row();
        width:1024px;
        .feature{
            @include flex-row();
            padding-bottom: 48px;
            img{
                min-height: 424px;
                max-height: 424px;
                min-width:420px;
                max-width: 480px;
                border-radius: 20px;
                object-fit:cover;
                object-position: center;
            }
            .feature-content{
                padding: 16px 28px 0 38px;
                .feature-pills{
                    @include flex-row();
                    padding: 0 0 48px 0;
                    .highlights-tag{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: 34px;
                        border-radius: 1000px;
                        padding:4px 16px;
                        background-color: $aq-white-0;
                        margin-right: 16px;
                        font-weight: 500;
                        font-size: $pillFont;
                        color: $aq-blue-2;
                        text-transform: capitalize;
                    }
                }
                h4 {
                    font-weight: 500;
                    font-size: $miniHeadingFont;
                    line-height: 48px;
                    color: $aq-black-1;
                    width: 432px;
                    padding-bottom: 48px;
                }
                .feature-link a{
                    color: $aq-blue-4;
                    font-size: $linkFont;
                    line-height: 24px;
                    font-weight: 500;
                    text-align: center;
                    opacity: 0.9;
                    text-transform: capitalize;
                    &:hover{
                        cursor: pointer;
                        opacity: 1;
                        font-size: $linkFont + 0.2px;
                    }
                }
            }
        }
        ._blank{
            width: 100%;

            position: relative;
            display: flex;
            flex-flow: column-reverse wrap;
            left: 0;
            right: 0;
            top:200px;
            bottom: 0;
            margin: auto;
            opacity: 0.5;
            font-weight: 400;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
        }
    }
    .pagination {
        &-nav{
            ul{
                @include flex-row();
                list-style-type: none;
                text-align: left;
                padding: 0;
                li{
                    font-size: 24px;
                    line-height: 24px;
                    color: $aq-blue-2;
                    padding:0 8px;
                    span:first-child{
                        font-weight: 600;
                        padding-right: 11px;
                    }
                    span:last-child{
                        padding-left: 8px;
                    }
                }
                #left:hover, #right:hover{
                    cursor: pointer;
                }
            }
        }
    }
}


@media(max-width: $mainBreakPoint){
    .highlights-section{
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        padding-top: 80px;
        margin-bottom:80px;
        background-color: $aq-blue-1;
        .highlights-container{
            overflow-x: hidden;
            .pagination{
                display: none;
            }
            .content{
                @include flex-column();
                width: auto;
                .feature{
                    @include flex-column();
                    padding: 30px 16px;
                    .img-sm{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 280px;
                        max-height: 280px;
                        max-width: 360px;
                        overflow: hidden;
                        border-radius: 16px;
                    }
                    img{
                        width: 100%;
                        border-radius: 16px;
                    }
                    .feature-content{
                        padding: 0;
                        padding-top: 16px;
                        .feature-pills{
                            padding-bottom: 20px;
                            
                        }
                        h4{
                            padding-bottom: 28px;
                            font-size: 35px;
                            line-height: 42px;
                            width: 90vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width:$mainBreakPoint)and(max-width: $tabBreakPoint){
    .highlights-section{
        padding: 100px 0 0 20px;
        height: auto;
        .content{
            .feature{
                @include flex-column();
                padding: 0;
                padding-right: 30px;
                img{
                    max-height: 350px;
                }
                .feature-content{
                    padding: 0;
                    padding-top: 20px;
                    padding-bottom: 30px;
                }
            }
        }
        .pagination{
            display: none;
        }
    }
}