@import "lib/colors";
@import "lib/variables";

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

.highlights-section{
    display: grid;
    grid-template-columns: $gridColumn;
    height: 744px;
    background-color: $aq-blue-1;
    padding: 160px 0 80px 0;
    .highlights-container{
        grid-column: 2 / 3;
        overflow-x: visible;
    }
    .content{
        @include flex-row();
        width:1024px;
        .feature{
            @include flex-row();
            padding-bottom: 48px;
            img{
                height: 424px;
            }
            .feature-content{
                padding: 16px 28px 0 38px;
                .feature-pills{
                    @include flex-row();
                    padding: 0 0 48px 0;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: 34px;
                        border-radius: 1000px;
                        padding:4px 16px;
                        background-color: $aq-white-0;
                        margin-right: 16px;
                        font-weight: 500;
                        font-size: $pillFont;
                        color: $aq-blue-2;
                        text-transform: capitalize;
                    }
                }
                h4 {
                    font-weight: 500;
                    font-size: $miniHeadingFont;
                    line-height: 48px;
                    color: $aq-black-1;
                    width: 432px;
                    padding-bottom: 48px;
                }
                .feature-link a{
                    color: $aq-blue-4;
                    font-size: $linkFont;
                    line-height: 24px;
                    font-weight: 500;
                    text-align: center;
                    opacity: 0.9;
                    // &:hover{
                    //     cursor: pointer;
                    //     opacity: 1;
                    //     font-size: $linkFont + 0.2px;
                    }
                }
            }
        }
    }
    .pagination {
        &-nav{
            ul{
                @include flex-row();
                list-style-type: none;
                text-align: left;
                padding-left: 10px;
                li{
                    font-size: 24px;
                    line-height: 24px;
                    color: $aq-blue-2;
                    padding:0 8px;
                    span:first-child{
                        font-weight: 600;
                        padding-right: 11px;
                    }
                    span:last-child{
                        padding-left: 8px;
                    }
                }
                #left:hover, #right:hover{
                    cursor: pointer;
                }
            }
        }
    }
}