@import "lib/colors";

$home-padding: 80px;
.HomePage {
  .intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1440px - 2*$home-padding;
    height: 720px - 2*$home-padding;
    padding: $home-padding;
    background: $aq-blue-1;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1088px;
    //height: 520px;
    height: 720px - 2*$home-padding;

    .text-container {
      width: 520px;

      .text-primary {
        display: flex;
        align-items: center;
        width: 520px;
        height: 144px;

        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 72px;
        color: $aq-black-1;
      }

      .text-secondary {
        display: flex;
        align-items: center;
        width: 439px;
        height: 84px;

        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: $aq-black-1;

        margin-top: 16px;
      }

      .btn-container {
        display: flex;
        margin-top: 40px;
      }
    }
  }

  .air-quality-section {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 1440px;
    height: 900px;
    background: $aq-blue-1;

    .text-primary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 741px;
      height: 48px;

      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: $aq-black-1;
    }

    .text-secondary {
      display: flex;
      align-items: center;
      text-align: center;
      width: 680px;
      height: 52px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $aq-black-1;

      margin-top: 30px;
      margin-bottom: 50px;
    }

    .category {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px;

      width: 392px - 2*4px; // remove padding
      height: 56px - 2*4px;

      background: $aq-white-0;

      box-shadow: 0px 16px 32px rgba(185, 195, 217, 0.5);
      border-radius: 8px;

      div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 193px;
        height: 48px;

        background: $aq-blue-0;
        border-radius: 4px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $aq-white-0;

      }

      div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 175px;
        height: 48px;

        background: $aq-white-0;
        border-radius: 4px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        margin-left: 16px;

        color: $aq-blue-0;
      }
    }

    .content {
      display: grid;
      grid-template-columns: 428px 1fr;
      width: 904px;
      height: 400px;

      background: $aq-white-0;
      border-radius: 8px;

      margin-top: 40px;

      position: relative;

      .content-container, .image-container {
        display: grid;
        justify-content: center;
        align-content: center;
      }

      .detail-wrapper-selected {
        display: flex;
        align-items: center;
        width: 344px;
        height: 96px;

        background: rgba(244, 248, 255, 0.7);

        border: 0.8px solid $aq-blue-0;
        box-sizing: border-box;
        border-radius: 8px;

        .circle {
          width: 65px;
          height: 64px;

          background: linear-gradient(0deg, #E7EFFF, #E7EFFF), #FFFFFF;
          border-radius: 32px;

          margin-left: 16px;
        }
        .text-wrapper {
          margin-left: 12px;
          div:first-child {
            display: flex;
            align-items: center;
            width: 181px;
            height: 22px;

            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 22px;

            color: $aq-blue-0;
          }

          div {
            display: flex;
            align-items: center;
            div {
              display: flex;
              align-items: center;
              width: 231px;
              height: 14px;

              font-style: normal;
              font-weight: 500;
              font-size: 9px;
              line-height: 14px;

              color: $aq-black-1;

              margin-left: 5px;
            }
          }
        }
      }

      .detail-wrapper {
        display: flex;
        align-items: center;
        width: 344px;
        height: 96px;

        border: 0.5px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 8px;

        margin-top: 16px;

        .circle {
          width: 65px;
          height: 64px;

          background: linear-gradient(0deg, #E7EFFF, #E7EFFF), #FFFFFF;
          border-radius: 32px;

          margin-left: 16px;
        }

        .text-wrapper {
          margin-left: 12px;
          div:first-child {
            display: flex;
            align-items: center;
            width: 181px;
            height: 22px;

            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 22px;

            color: $aq-black-1;
          }

          div {
            display: flex;
            align-items: center;
            div {
              display: flex;
              align-items: center;
              width: 231px;
              height: 14px;

              font-style: normal;
              font-weight: 500;
              font-size: 9px;
              line-height: 14px;

              color: $aq-black-1;

              margin-left: 5px;
            }
          }
        }
      }

    }

    .floating-image {
      position: absolute;
      width: 200px;
      height: 200px;
      right: -100px;
      top: 100px;

      background: #FFFFFF;
      border: 0.5px solid rgba(20, 93, 255, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
    }
  }

  .api-section, .analytics-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 900px;
    background: linear-gradient(180deg, $aq-blue-1 0%, $aq-white-0 100%);

    .content-api {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 564px;
      height: 900px;
      margin-right: 48px;

      >div {
        width: 520px;
      }

      .api-title {
        display: flex;
        align-items: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        width: 520px;
        height: 26px;

        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;

        color: $aq-blue-0;
      }

      .api-text-main {
        display: flex;
        align-items: center;
        height: 96px;

        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;

        color: $aq-black-1;

        margin-top: 15px;
        margin-bottom: 27px;
      }

      .api-text-secondary {
        display: flex;
        align-items: center;
        width: 477.24px;
        height: 78px;
        padding-right: 42.76px;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;

        color: $aq-black-1;
      }

      .api-demo {
        display: flex;
        align-items: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        //width: 109px;
        height: 18px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        color: $aq-blue-0;

        margin-top: 48px;
        margin-bottom: 40px;
      }

      .api-details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        justify-content: center;
        align-content: center;
        width: 100%;
      }

      .api-details {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 264px;
        height: 264px;
        background: linear-gradient(73.24deg, #F4F8FF 56.77%, #FFFFFF 204.89%);
        border-radius: 8px;

        .api-circle-wrapper {
          width: 216px;
          height: 40px;
        }

        .api-circle {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #C4C4C4;
        }

        .api-details-text-primary {
          display: flex;
          align-items: center;
          width: 216px;
          height: 18px;

          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;

          color: $aq-black-1;

          margin-top: 16px;
          margin-bottom: 8px;
        }

        .api-details-text-secondary {
          display: flex;
          align-items: center;
          width: 209px;
          padding-right: 7px;
          height: 110px;

          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;

          color: $aq-black-1;
        }
      }

      .mb-24 {
        margin-bottom: 24px;
      }

      .api-details-long {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 520px;
        height: 120px;
        background: linear-gradient(73.24deg, #F4F8FF 56.77%, #FFFFFF 204.89%);
        border-radius: 8px;

        .api-circle-wrapper {
          width: 40px;
          height: 70px;
          margin-right: 16px;
        }

        .api-circle {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #C4C4C4;
        }
        .api-details-text-primary {
          display: flex;
          align-items: center;
          width: 415.35px;
          height: 18px;

          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;

          color: $aq-black-1;

          margin-bottom: 8px;
        }

        .api-details-text-secondary {
          display: flex;
          align-items: center;
          width: 401.89px;
          height: 44px;

          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;

          color: $aq-black-1;
        }
      }
    }
  }

  .analytics-section {
    background: #FFFFFF;
  }

  .map-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 600px;

    background: $aq-blue-1;

    .content-map {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 564px;
      height: 600px;
      margin-right: 48px;

      > div {
        width: 520px;
      }
    }

    .map-title {
      display: flex;
      align-items: center;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 138px;
      height: 26px;

      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;

      color: $aq-blue-0;
    }

      .map-text-main {
        display: flex;
        align-items: center;
        width: 520px;
        height: 96px;

        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;

        color: $aq-black-1;

        margin-top: 15px;
        margin-bottom: 27px;
      }

      .map-text-secondary {
        display: flex;
        align-items: center;
        height: 78px;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;

        color: $aq-black-1;
      }

    .map-demo {
      display: flex;
      align-items: center;
      flex: none;
      order: 0;
      flex-grow: 0;
      //width: 109px;
      height: 18px;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      color: $aq-blue-0;

      margin-top: 48px;
      margin-bottom: 40px;
    }

    .map-container {
      width: 520px;
      height: 600px;
      position: relative;

      .airqo-map {
        position: absolute;
        top: 32px;
        left: 32px;
      }

      .map-label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        width: 232px;
        height: 80px;
        left: 346px;
        top: 247px;

        background: $aq-white-0;

        box-shadow: 0px 16px 32px rgba(185, 195, 217, 0.5);
        border-radius: 5000px;

        .value {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;

          background: linear-gradient(0deg, #36FF32, #36FF32), #FFFFFF;
          border-radius: 50%;

          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.022em;

          color: #03B600;

          margin-right: 16px;
          margin-left: 8px;
        }

        .location {
          display: flex;
          align-items: center;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */

          letter-spacing: -0.022em;

          color: #000000;
        }

        .region {
          display: flex;
          align-items: center;

          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          /* identical to box height, or 140% */


          letter-spacing: -0.022em;

          color: #000000;

          opacity: 0.4;
        }

        .category {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 16px;

          background: #36FF32;
          opacity: 0.32;
          border-radius: 500px;

          font-style: normal;
          font-weight: normal;
          font-size: 8px;
          line-height: 8px;
          /* identical to box height, or 100% */


          letter-spacing: -0.022em;

          color: #026500;
        }
      }
    }
  }

  .partner-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1440px - 2*$home-padding;
    height: 651px - 2*$home-padding;
    padding: $home-padding;

    .text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      color: $aq-black-1;
      opacity: 0.3;

      margin-bottom: 24px;
    }

    .icon-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px 49px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 248px;
      height: 124px;

      background: $aq-white-0;
      border: 1px solid rgba(20, 93, 255, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
    }
  }

  .subscribe-container {
    width: 1440px - 2*$home-padding;
    height: 400px - 2*$home-padding;
    padding: $home-padding;
    background: $aq-blue-1;

    .text-primary {
      display: flex;
      align-items: center;
      text-align: center;
      width: 456px;
      height: 48px;

      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: $aq-blue-0;

      margin: 0 auto;
    }

    .text-secondary {
      display: flex;
      align-items: center;
      text-align: center;
      width: 425px;
      height: 52px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $aq-blue-0;

      margin: 16px auto 40px auto;
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input {
      display: flex;
      align-items: center;
      width: 415px - 2*16px; // padding space
      height: 53.76px - 2*16px;
      background: $aq-white-0;
      border-radius: 8px;
      padding: 16px;

      .text {
        display: flex;
        align-items: center;
        width: 74px;
        height: 17.92px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $aq-black-1;
      }
    }

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      width: 168px - 2*16px;
      height: 56px - 2*16px;
      color: $aq-white-0;

      background: $aq-blue-0;
      border-radius: 4px;

      margin-left: 16px;
    }
  }

}