@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&display=swap');

@import "normalize";

@import "NotificationBanner";

@import "TopBar";

@import "NavTab";

@import "AnalyticsSection";

@import "ApiSection";

@import "Footer";

@import "HomePage";

@import "MapSection";

@import "AirQommunitiesSection";

@import "GetApp";

@import "Hero";

@import "Monitor";

@import "NewsletterSection";

@import "ResearchPage";

@import "Press";

@import "Legal";

@import "CommunityPage";

@import "AboutUsPage";

@import "ContactUs";

@import "AfricanCitiesPage";

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Page {
  width: 100%;
  margin: auto;
}
