@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "normalize";

@import "NotificationBanner";

@import "TopBar";

@import "NavTab";

@import "AnalyticsSection";

@import "Footer";

@import "HomePage";

@import "MapSection";

@import "GetApp";

@import "Hero";

@import "Monitor";

@import "NewsletterSection";

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Page {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}
