@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');

@import "normalize";

@import "NotificationBanner";

@import "TopBar";

@import "NavTab";

@import "AnalyticsSection";

@import "ApiSection";

@import "Footer";

@import "HomePage";

@import "MapSection";

@import "GetApp";

@import "Hero";

@import "Monitor";

@import "NewsletterSection";

@import "CommunityPage";

@import "ResearchPage";

@import "Press";

@import "Legal";

@import "CommunityPage";

@import "AboutUsPage";

@import "ContactUs";

@import "AfricanCitiesPage";

@import "GetInvolved";

@import "Partners";

@import "AirQuality";

@import "Highlight";

@import "ExploreData";

@import "GetInvolvedModal";

@import "HighlightsSection";

@import "Loadspinner";

@import "CareersPage";

@import "CareersDetailPage";

@import "Errors";

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  height: auto;
  overflow-x:hidden ;

}

a, a:hover{
  text-decoration: none;
  color:inherit;
  text-decoration-color: none;
}

.Page {
  width: 100%;
  margin: 0 auto;
  
  .page-wrapper {
    overflow-x: hidden !important;
  }
}

.Page-mini{
  width:100%;
  margin:auto;
  scrollbar-width: none;
  .page-mini-wrapper{
    overflow-x: hidden;
  }
}

.cta-link .link{
  color: $aq-blue-4;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  opacity: 0.9;
  text-transform: capitalize;
  &:hover{
      cursor: pointer;
      opacity: 1;
      font-size: 18px + 0.2px;
  }
}

