@import "lib/colors";
@import "lib/variables";


@mixin flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}
$h2-font:40px;
$p-font:18px;
$pill-font:14px;

.map-section{
    display:grid;
    grid-template-columns: $gridColumn;
    padding: 40px 0 40px 0;
    background-color: $aq-blue-1;
    margin:180px 0 250px 0;
    .backdrop{
        grid-column: 2 / 3;
        display:grid;
        grid-template-columns: 3fr 3fr;
        grid-gap:50px;
        padding:5px;
        height:auto;
        .map-content{
            @include flex-column();
            margin:75px 0 0 0;
            #first-pill{
                @include flex-row();
                align-items: center;
                justify-content: center;
                background-color: $aq-white-0;
                width:190px;
                height:25px;
                border-radius:1000px;
                padding:3px 18px;
                p{
                    color:$aq-blue-0;
                    padding:10px;
                    font-size:$pill-font;
                    font-weight: 700;
                    line-height: 26px;
                    flex-grow:0;
                    align-self:center;
                }
            }
            .content-h{
                color:$aq-black-0;
                font-weight:700;
                font-size:$h2-font;
            }
            .content-p{
                margin:-5% 0 0 0;
                p{
                    color:$aq-black-0;
                    font-weight:400;
                    font-size: $p-font;  
                    line-height:24px; 
                }
            }
            #second-pill{
                @include flex-row();
                align-items: center;
                margin: 20px 0 0 0;
                p{
                    color:$aq-blue-0;
                    font-weight:600;
                    font-size:$pill-font; 
                    line-height:10px;
                    flex-grow:0;
                    padding-top: 2px;
                }
                i{
                    fill:$aq-blue-0;
                    width:15px;
                    height:14px;
                    font-weight:600;
                    margin-left:10px;
                }
            }
        }

        .map-image{
            margin: 0;
            padding:0;
            display: grid;
            grid-template-columns: 540px;
            grid-template-rows: 500px;
            align-items: center;
            .map-img{   
                float:right;
            }
        }
    }
}

@media(max-width:$mainBreakPoint){
    .map-section{
        padding:0 12px;
        .backdrop{
            @include flex-column();
            justify-content: center;
            align-items: center;
            padding:0;
            .map-content{
                margin: 100px 20px 0 15px;
                #first-pill{
                    width:200px;
                    height:30px;
                }
                .content-h{
                    font-size: $h2-font;
                }
            }
            .map-image{
                margin-top:8px;
                padding:0px;
                display: grid;
                grid-template-columns:1fr;
                grid-template-rows: 500px;
                .map-img{
                    float:none;
                }
            }
        }
    }
}