@import "lib/colors";
@import "lib/variables";


@mixin flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

$h2-font:$headingFont;
$p-font:$subTextFont;
$pill-font:$pillFont;

.map-section{
    display:grid;
    grid-template-columns: $gridColumn;
    padding: 80px 0;
    background-color: $aq-blue-1;
    .backdrop{
        grid-column: 2 / 3;
        display:grid;
        grid-template-columns: 3fr 3fr;
        grid-gap:50px;
        padding:5px;
        height:auto;
        .map-content{
            @include flex-column();
            margin:75px 0 0 0;
            #first-pill{
                @include flex-row();
                align-items: center;
                justify-content: center;
                background-color: $aq-white-0;
                width: 155px;
                height: 34px;
                padding: 4px 16px;
                box-sizing: border-box;
                border-radius:1000px;
                margin-bottom: 24px;
                p{
                    color:$aq-blue-2;
                    font-size: $pill-font;
                    font-weight: 500;
                    line-height: 26px;
                    padding: 0;
                }
            }
            .content-h{
                color:$aq-black-0;
                font-weight:500;
                font-size:$h2-font;
                margin-bottom: 24px;
                padding: 0;
            }
            .content-p{
                margin-bottom: 48px;
                p{
                    color:$aq-black-0;
                    font-weight:400;
                    font-size: $p-font;  
                    line-height:28px; 
                    margin: 0;
                }
            }

            #second-pill{
                @include flex-row();
                align-items: center;
                p{
                    color:$aq-blue-0;
                    font-weight:500;
                    font-size:$p-font; 
                    line-height:24px;
                    flex-grow:0;
                    margin: 0;
                    padding: 0;
                }
                i{
                    fill:$aq-blue-0;
                    width:15px;
                    height:$p-font;
                    font-weight:500;
                    margin-left:10px;
                    margin-top: -4px;
                }
            }
        }

        .map-image{
            margin: 0;
            padding:0;
            display: grid;
            grid-template-columns: 540px;
            grid-template-rows: 500px;
            align-items: center;
            .map-img{   
                float:right;
            }
        }
    }
}

@media(max-width:$mainBreakPoint){
    .map-section{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 40px;

        .backdrop{
            @include flex-column();
            justify-content: center;
            align-items: center;
            padding: 80px 16px 16px 16px;
            margin: 0 auto;
            width: 100%;

            .map-content{
                margin: 0 auto;

                #first-pill{
                    display: block;
                    width: 155px;
                    height: 34px;
                    padding: 4px 16px;
                    box-sizing: border-box;

                    >p {
                        margin: 0;
                        width: 100%;
                        font-weight: 500;
                    }
                }
                .content-h{
                    font-size: $h2-font;
                    font-weight: 500;
                    line-height: 56px;
                    width: 100%;
                }

                .content-p {
                    margin-bottom: 38.76px;
                    width: 100%;
                }

                #second-pill{
                    margin: 0 0 42.24px 0;
                    p {
                        margin: 0;
                    }
                    i {
                        margin-left:8px;
                    }
                }
            }
            .map-image{
                margin: 0;
                padding: 0;
                display: block;
                height: 400px;
                width: 100%;

                .map-img {
                    float: none;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and(min-width:$mainBreakPoint)and(max-width: $tabBreakPoint){
    .map-section{
        padding: 80px 20px;
        .backdrop{
            display: block;
            padding: 0;
            .map-content{
                margin: 0 auto;
            }
            .map-image{
                .map-img{
                    float: none;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}
