@import "lib/variables";
@import "lib/colors";


.Monitor {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    margin: 0 auto;
    height: 900px;

  .monitor-content {
    margin: 80px 0 0 0;
    width:520px;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 34px;

    font-style: normal;
    font-weight: 500;
    font-size: $pillFont;
    line-height: 26px;

    color: $aq-blue-0;

    background: $aq-blue-1;
    border-radius: 1000px;
  }

  .text-main {
    font-style: normal;
    font-weight: 500;
    font-size: $headingFont;
    line-height: 56px;

    margin: 28px 0 16px 0;

    color: $aq-black-1;
  }

  .text-sub {
    font-style: normal;
    font-weight: 400;
    font-size: $subTextFont;
    line-height: 28px;

    margin: 16px 0 24px 0;

    color: $aq-black-1;
  }

  .learn-more {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: $linkFont;
    line-height: 14px;

    color: $aq-blue-0;
  }

  .Monitor-img {
    img{
      width: 640px;
      height: 551px;
      border-radius: 16px;
    }
  }
}

@media (min-width: $mainBreakPoint) {
  .Monitor {
    height: 900px;
    align-items: center;

    .monitor-content {
      margin: 0;
    }

    .text-main {
      width: 520px;
      margin: 28px 0 24px 0;
    }

    .text-sub {
      width: 477px;
      font-size: 18px;
      line-height: 26px;
      margin: 24px 0 32px 0;
    }

    .Monitor-img {
      height: 584px;
      width: 520px;
      border-radius: 16px;
      margin: 0;
    }
  }
}

@media (max-width: $mainBreakPoint) {
  .Monitor {
    height: 100%;
    width: 100%;
    margin-bottom: 77px;

    .monitor-content {
      padding-top: 80px;
      margin: 0 16px;
      width: 100%;

      .label {
        margin-bottom: 24px;
        padding: 0;
        background-color: $aq-blue-1;
      }
    }

    .text-main {
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
      font-weight: 500;
    }

    .text-sub {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 36px;
    }

    >img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
      margin: 0 16px;
    }
  }
}