@import "lib/variables";
@import "lib/colors";


.Monitor {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $columnWidth;
    margin: 0 auto;
    padding: 80px 0;

  .monitor-content {
    width:520px;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 34px;

    font-style: normal;
    font-weight: 500;
    font-size: $pillFont;
    line-height: 26px;

    color: $aq-blue-0;

    background: $aq-blue-1;
    border-radius: 1000px;
  }

  .text-main {
    font-style: normal;
    font-weight: 500;
    font-size: $headingFont;
    line-height: 56px;

    margin: 28px 0 16px 0;

    color: $aq-black-1;
  }

  .text-sub {
    font-style: normal;
    font-weight: 400;
    font-size: $subTextFont;
    line-height: 28px;

    margin: 16px 0 24px 0;

    color: $aq-black-1;
  }

  .learn-more {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: $linkFont;
    line-height: 14px;

    color: $aq-blue-0;
  }

  .Monitor-img {
    img{
      width: 640px;
      height: 551px;
      border-radius: 16px;
    }
  }
}

@media (min-width: $mainBreakPoint) {
  .Monitor {
    align-items: center;

    .monitor-content {
      margin: 0;
    }

    .text-main {
      width: 520px;
      margin: 28px 0 24px 0;
    }

    .text-sub {
      width: 477px;
      margin: 24px 0 32px 0;
    }

    .Monitor-img {
      height: 584px;
      width: 520px;
      border-radius: 16px;
      margin: 0;
    }
  }
}

@media (max-width: $mainBreakPoint) {
  .Monitor {
    height: 100%;
    width: 100%;
    flex-direction: column;

    .monitor-content {
      padding: 0 16px;
      width: 100%;

      .label {
        margin-bottom: 24px;
        padding: 0;
        background-color: $aq-blue-1;
      }
    }

    .text-main {
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
    }

    .text-sub {
      width: 100%;
      margin: 0;
      margin-bottom: 36px;
    }

    .Monitor-img {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      
      > img {
        width: 500px;
        height: 100%;
        object-fit: cover;
      
      }
    }
  }
}

@media screen and(min-width:$mainBreakPoint)and(max-width: $tabBreakPoint){
  .Monitor{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 20px;
    .monitor-content{
      width: 100%;
    }
    .text-main{
      width: auto;
    }
    .text-sub{
      width: auto;
    }
    .Monitor-img{
      img{
        width: auto;
        height: auto;
      }
    }
  }
}