@import "lib/colors";

.NavTab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  height: 48px;
  box-sizing: border-box;
  flex-wrap: nowrap;

  span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;
    height: 24px;

    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.colored {
  color: $aq-blue-0;
  background-color: $aq-blue-5;
  border-radius: 16px;
}

.filled {
    color: $aq-white-0;
    background: $aq-blue-0;
    border-radius: 16px;
    margin-left: 16px;
  }

@media(max-width: 580px){
  .NavTab {
    display: none;
  }
}