@import "lib/colors";

.NavTab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  height: 48px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  cursor: pointer;
  color: $aq-blue-2;

  span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: $linkFont;
    line-height: 16px;
    margin-right: 6px;
    height: 24px;

    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.colored {
  color: $aq-blue-0;
  background-color: $aq-blue-5;
}

.colored:hover {
  background-color: $aq-blue-7;
}

.filled {
  color: $aq-white-0;
  background: $aq-blue-0;
  margin-left: 16px;
}

.filled:hover {
  background-color: $aq-blue-6;
}

@media(max-width: 1024px){
  .NavTab {
    padding: 24px 0;
    justify-content: flex-start;
    margin-left: 40px;

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .arrow-down {
      padding-left: 171px;
    }

    .dropdown-text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $aq-blue-2;
      opacity: 0.4;
    }
  }

  .colored {
    color: $aq-blue-0;
    background-color: $aq-blue-5;
    margin-bottom: 24px;
    margin-left: 24px;
    padding: 12px auto;
    width: 312px;
    height: 48px;
    box-sizing: border-box;
  }
  
  .filled {
    color: $aq-white-0;
    background: $aq-blue-0;
    margin-left: 24px;
    margin-bottom: 44px;
    padding: 12px auto;
    width: 312px;
    height: 48px;
    box-sizing: border-box;
  }
}

@media(max-width: $mainBreakPoint){
  .NavTab {
    margin-left: 0;
  }

  .colored {
    display: flex;
    justify-content: center;
    padding: 12px auto;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
  }

  .filled {
    display: flex;
    justify-content: center;
    padding: 12px auto;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
  }
}