@import "lib/colors";

.NavTab {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  height: 48px;

  span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;

    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.colored {
  color: $aq-blue-0;
}

.filled {
    color: $aq-white-0;
    background: $aq-blue-0;
    border-radius: 4px;
  }

@media(max-width: 580px){
  .NavTab {
    display: none;
  }
}