@import "lib/variables";

.Newsletter {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $aq-blue-1;
    text-align: center;
    margin-top: 120px;

    h3 {
        margin: 0 auto;
        font-style: normal;
        font-weight: 600;
        font-size: $miniHeadingFont;
        line-height: 48px;
        color: $aq-blue-0;
    }

    p {
        max-width: 642px;
        font-style: normal;
        font-weight: 400;
        font-size: $subTextFont;
        line-height: 26px;
        color: $aq-blue-0;
        margin: 10px 32%;
    }

    .newsletter-info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 42px;

        >span {
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
        }
        span:last-child {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            /* or 144% */

            display: flex;
            align-items: center;
            text-align: center;

            /* Colors/Secondary/Black */

            color: #353E52;
        }
    }

    .newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 41.2px auto 40px auto;
        width: 100%;

        &-input, &-btn {
            outline: 0;
            border: 0;
            font-size: $buttonFont;
        }

        &-input {
            background-color: $aq-white-0;
            width: 304px;
            height: 56px;
            padding-left: 16px;
            color: #353E52;
            margin-right: 18px;
        }

        &-btn {
            width: 160px;
            height: 56px;
            color: #FDFCFF;
            background: $aq-blue-0;
            cursor: pointer;
        }

        &-btn:hover {
            background: $aq-blue-6;
        }
    }
}

@media(max-width: $mainBreakPoint) {
    .Newsletter {
        height: 100%;
        padding: 80px 16px;
        margin-top: 40px;

        p {
            margin: 10px 34.95px;
        }
    
        .newsletter-form {
            flex-direction: column;

            &-input, &-btn {
                margin: 0 auto;
            }
            
            &-input {
                padding: 4px 16px;
                width: 92%;
                box-sizing: content-box;
                margin-bottom: 17.09px;
            }
    
            &-btn {
                padding: 16px;
                width: 100%;
            }
        }
    }
}
