@import "lib/colors";
@import "lib/variables";

$banner-padding: 16px;

.NotificationBanner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background: $aq-blue-0;
  padding: 0 $banner-padding;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $columnWidth;
    margin: 0 auto;
  }

  .first {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: $aq-white-0;
    margin-right: 42px;
  }

}