@import "lib/colors";
@import "lib/variables";

.partners-section{
    display:grid;
    grid-template-columns: $gridColumn;
    background-color: $aq-blue-1;
    .backdrop{
        grid-column: 2 / 3;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 80px;
            .title{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: rgba(53, 62, 82, 0.4);
                padding: 0 0 30px 0;
                strong{
                    color: $aq-black-1;
                    font-weight: 700;
                    padding-left: 5px;
                    mix-blend-mode: normal;
                }
            }
            .logos{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                div{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $aq-white-6;
                min-width: 184px;
                height: 80px;
                border-radius: 0;
                mix-blend-mode: multiply;
                }
            }
        }
    }
}

@media (max-width: $mainBreakPoint){
    .partners-section{
        margin-top:80px;
        .backdrop{
            .content{
                padding:50px 0;
                .logos{
                    >div{
                        min-width: 164px;
                    }
                }
            }
        }
    }
}