@import 'lib/colors';
@import 'lib/variables';

h3,
h4 {
  margin: 0;
  padding: 0;
}

.TopBar {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background: $aq-white-0;
  box-shadow: 0 0 1px 1.2px #8a8a8a1a;
  padding: 16px 0;
  box-sizing: border-box;
  background-color: $aq-white-0;
  z-index: 1000;

  .wrapper {
    max-width: $columnWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        height: 48px;
      }
    }

    .nav-center,
    .nav-right {
      display: flex;
    }

    .nav-center {
      justify-content: space-between;

      .nav-dropdown-item {
        position: relative;
        .dropdown {
          display: none;
          margin-top: 0px;
          position: absolute;
          left: 30px;
          width: 590px;
          min-height: 274px;
          border-radius: 8px;
          background-color: $aq-white-0;
          box-shadow: 0px 8px 16px #cccccc40;
          box-sizing: border-box;

          .title {
            font-size: $linkFont;
            line-height: 22px;
            font-weight: 400;
            color: $aq-blue-2;
            padding-bottom: 20px;
            padding-top: 34px;
            padding-left: 30px;
            opacity: 0.4;
          }

          .dropdown-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: 16px;

            .dropdown-list-item {
              margin-bottom: 12px;
              margin-right: 20px;
              width: 260px;
              padding: 8px 16px;
              cursor: pointer;

              h3 {
                font-weight: 500;
                font-size: 16px;
                color: $aq-blue-2;
              }

              h4 {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: $aq-blue-2;
                letter-spacing: -0.022em;
              }
            }

            .dropdown-list-item:hover {
              background-color: $aq-blue-5;
              border-radius: 8px;

              h3,
              h4 {
                color: $aq-blue-4;
              }
            }
          }
        }
      }

      // id used to target the dropdowns in the nav
      #solutions-dropdown {
        display: block;
      }

      // hover only on desktop view
      @media (min-width: 1025px) {
        .nav-dropdown-item:hover .dropdown {
          display: block;
        }
      }

      .nav-dropdown-item.single-links {
        .dropdown {
          left: 30px;
          width: 430px;
          min-height: 274px;
        }
        .dropdown-list {
          .dropdown-list-item {
            width: 180px;
            padding: 8px 12px;
            margin-bottom: 14px;
          }
        }
      }
    }
  }

  .clean-air-tab {
    width: 19%;
    background: $aq-blue-5;
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 5px;
      svg {
        color: $aq-blue-9;
      }
      h3 {
        font-size: 15px;
        color: $aq-blue-0;
        font-weight: 600;
        margin-left: 10px;
        line-height: 20px;
        padding: 2px 0px;
      }
    }
  }

  .menu-btn,
  .close-menu-btn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .TopBar {
    position: sticky;
    top: -1px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    box-sizing: border-box;
    height: 80px;
    width: 100%;

    .wrapper {
      width: 100%;
      height: auto;
      margin: 0;
      position: absolute;
      top: 78px;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      background-color: $aq-white-0;
      transition: all 0.5s ease;

      .logo {
        position: absolute;
        top: -68px;
        left: 16px;
        svg {
          height: 48;
        }
      }

      #nav-center.nav-center,
      #nav-right.nav-right {
        display: none;
      }

      #nav-center.toggle_nav_center,
      #nav-right.toggle_nav_right {
        display: block;
        width: 100%;
      }

      .nav-center {
        padding-top: 44px;
        margin-bottom: 44px;

        .nav-dropdown-item {
          .dropdown {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 0;
            box-shadow: none;
            height: 100%;

            .title {
              display: none;
            }

            .dropdown-list {
              margin-left: 0;
              width: 100%;
              .dropdown-list-item {
                margin-right: 0;
              }
            }
          }
        }

        .nav-dropdown-item .dropdown {
          display: none;
        }
        .nav-dropdown-item.nav-dropdown-item.single-links .dropdown {
          height: 100%;
          width: 90%;
          margin-bottom: 20px;
        }
      }
    }

    #menu.toggle_menu_btn {
      display: none;
    }

    #close-menu.toggle_close_menu_btn {
      display: block;
      cursor: pointer;
      transition: all 0.5s ease;
      align-self: flex-end;
      position: absolute;
      right: 32px;
    }

    .menu-btn {
      display: block;
      cursor: pointer;
      transition: all 0.5s ease;
      position: absolute;
      right: 32px;
    }

    .clean-air-tab {
      margin: 0px 20px 2px 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 48px;
      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // padding: 0px 5px;
        svg {
          color: $aq-blue-9;
        }
        h3 {
          font-size: 16px;
          color: $aq-blue-0;
          font-weight: 600;
          margin-left: 10px;
          line-height: 20px;
          padding: 2px 0px;
        }
      }
    }
  }
}

@media (max-width: $mainBreakPoint) {
  .TopBar {
    width: 100%;

    .wrapper {
      padding: 0 24px;

      .nav-center {
        // margin: 0 auto;
        transition: all 0.5s ease;
        width: 100%;
        .nav-dropdown-item {
          .dropdown {
            .dropdown-list {
              flex-direction: column;
              flex-wrap: nowrap;
              margin-left: 0;
              .dropdown-list-item {
                padding: 8px 5px;
              }
            }
          }
        }
      }
    }

    .clean-air-tab {
      margin: 0 0 2px 0;
      box-shadow: none;
    }
  }
}
