@import "lib/colors";

$topbar-padding: 80px;
$layout-breakpoint: 580px;

.TopBar {
  display: flex;
  align-items: center;
  height: 80px;
  background: $aq-white-0;
  padding: 0 $topbar-padding;
  box-shadow: 0 0 13px -11px #0000001a;

  .container {
    display: flex;
    margin-left: 24px;
    width: 650px !important;
  }

  .menu-btn {
    display: none;
  }
}

@media(max-width: $layout-breakpoint){
  .TopBar {
    justify-content: space-between;
    padding: 20px 16px;

    .container {
      display: none;
      width: 0;
      margin-left: 0;
    }

    .menu-btn {
      display: block;
      background-color: #8d8d8d14;
      border-radius: 2px;
      box-sizing: content-box;
      padding: 8px 16px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  
}
