body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-marker-icon {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	line-height: 35px;
	text-align: center;
	vertical-align: bottom;
	box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
	border-radius: 50px;
	border-width: 3px;
	opacity: 1;		
}
.deviceOnline {
	border: 2px solid #4052b5;
	background-color: #4052b5 !important;
	/* border-width: 4px;
	border-color: #81202e; */
  }

 .deviceOffline {
	background: #808080 !important;
	border: 2px solid #808080;
  }

.green {
	background:#18becf;
	border: 2px solid #18becf;
	background-color: #18becf !important;
  }

  .red {
	background:#ff3366 !important;
	border: 2px solid #ff3366;
  }

  .orange {
	background:#ee8310 !important;
	border: 2px solid #ee8310;

  }

 .yellow {
	background:#f8fe28 !important;
	border: 2px solid #f8fe28;
  }
 
  .UnCategorised{
	background:#000000;
	border: 2px solid #000000;
  }
  .filter {
	z-index: 1000;
	background-color:rgba(255, 255, 255, 1);
	border-bottom: 12px solid;
	border-color:grey;
	position: absolute;
  bottom: 10px;
	right: 5px;
	min-width: 12%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	padding: 10px 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #000;
  }
  
  .filter__h2 {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	text-align: center;
  }
  
  .filter__h3 {
	border-bottom: 1px solid;
	border-color: grey;
	margin-bottom: 10px;
  }
  
  .filter__p {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
  }
  
  i {
	border: solid;
	border-color: grey;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 130px;
	margin-bottom: 0px;
	transition: 0.3s;
	font-size: 25px;
  }

  .filter a {
	border: solid;
	border-color: white;
	color: grey;
	display: inline-block;
	margin-left: 100px;
	margin-bottom: 0px;
	transition: 0.3s;
	font-size: 20px;
	cursor: pointer;
  }

  
  input {
	margin-right: 10px;
  }
  
  .control__indicator1 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #44e527;
	display: inline-block;
	margin-right: 5px;
  }
  .control__indicator2 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #f8fe39;
	display: inline-block;
	margin-right: 5px;
  }
  .control__indicator3 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #ee8327;
	display: inline-block;
	margin-right: 5px;
  }
  
  .control__indicator4 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #fe0023;
	display: inline-block;
	margin-right: 5px;
  }
  .control__indicator5 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #8639c0;
	display: inline-block;
	margin-right: 5px;
  }
  .control__indicator6 {
	left: 0;
	width: 18px;
	height: 18px;
	background: #81202e;
	display: inline-block;
	margin-right: 5px;
  }

  label {
	display: block;
	font-size: 14px;
  }
  .label i {
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
  }

  small {
	font-size: smaller;
	margin-top: -10px;
	padding:0px;
	line-height: 1px !important;
}  
	  .openbtn {
		font-size: 16px;
		cursor: pointer;
		background-color: white;
		color: black;
		padding: 10px 15px;
		border: none;
	  }
