<ion-header no-border>
  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-fab right top edge>
    <button ion-fab outline 
      color="airqo_blue" 
      class="pop-in" 
      [hidden]="show_contact_button" 
      (click)="showContactInfo()">
        <ion-icon name="call"></ion-icon>
    </button>
  </ion-fab>
  
  <p [hidden]="restProvider.show_skeleton == 1 || restProvider.show_no_internet == 1" text-center class="title">Frequently Asked Questions</p>

  <ion-list class="accordion-list" [hidden]="restProvider.show_skeleton == 1 || restProvider.show_no_internet == 1">

    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      
      <button ion-item text-wrap (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.f_title }}
      </button>
 
      <ion-list *ngIf="item.open" no-lines>
        <ion-list-header no-padding>
          <ion-item ion-item detail-none class="child-item" text-wrap>
            <p class="faq-answer">{{ item.f_content }}</p>
          </ion-item>
        </ion-list-header>
      </ion-list>

    </ion-list-header>
    
    <p text-center class="title">Funders</p>
    <img src="assets/imgs/funders.png"/>
  </ion-list>

  

  <ion-list [hidden]="restProvider.show_skeleton == 0">
    <ion-item class="m-n" *ngFor="let i of [0,1,2,3,4,5]">
      <h2 text-wrap><skeleton-item></skeleton-item></h2>
      <p><skeleton-item width="30%"></skeleton-item></p>
    </ion-item>
  </ion-list>

  <div class="no-internet" [hidden]="restProvider.show_no_internet == 0">
    <p>No Internet Connection</p>
  </div>

</ion-content>

