<ion-header>
  <ion-navbar color="blue">
    <ion-title>My Places</ion-title>
    <ion-buttons end>
      <button ion-button small icon-only (click)="openAddFavorites()">
        <ion-icon name="md-add" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="title" *ngIf="nodes.length <= 0">{{ display_message }}</p>
  <ion-list>
    <ion-item *ngFor="let node of nodes" (click)="viewDetails(node)">
      <ion-icon name="md-star" color="grey" item-start></ion-icon>
      <div class="area-title">{{ node.name }}</div>
      <div class="area-sub-title">{{ node.location }}</div>
      <ion-icon name="trash" color="danger" item-end (click)="removeFavorite($event, node)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>