[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
django = "*"
django-author = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
dj-database-url = "*"
drf-yasg = "*"
invoke = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-storages = {version = "*", extras = ["google"]}
django-environ = '*'
django-cors-headers = '*'
django-nested-admin = '*'
gunicorn = '*'

[requires]
python_version = "3.6"

[dev-packages]
