.device-image-wrapper {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
}

.device-image-wrapper:hover {
    box-shadow: 0 8px 20px 0 rgba(33, 33, 33, 0.15);
}

.img-wrapper {
    height: 85%;
    padding: 1px 0;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.image-controls {
    display: flex;
    align-items: center;
    height: 15%;
    border-top: 1px solid rgba(33, 33, 33, 0.15);
}

.image-del {
    margin-left: 10px;
    color: rgba(0,0,0,0.5);
}

.image-del:hover {
    color: red;
    cursor: pointer;
}

.d-img {
    transform: scale(0.6);
}

.d-img:hover {
    cursor: pointer
}

.img-wrapper-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    z-index: 10000;
    background: rgba(0,0,0,0.5);
    border: 1px solid red;
}

.device-img-preview {
    height: 80vh;
    width: auto;
}


.device-img-skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bcb9b9;
}

.device-img-skeleton::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.broken-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: not-allowed;
}

.broken-image>svg {
    fill: #bcb9b9;
    width: 50%;
    transform: rotate(9deg);
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}

.overview-item-container {
    margin: 20px 0;
    width: 31%;
    height: 510px;
    overflow: scroll;
}

.overview-item-container::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.react-select-label {
    left: 10px;
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    z-index: 10;
    color: #263238;
}

.table-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap
}

.table-full {
  overflow: unset;
  text-overflow: ellipsis;
  width: 100%;
  white-space: normal;
}

.ml-table-details {
    display: flex;
    padding-left: 55px;
    /*background: #CDD0D5;*/
    /*background: #2f67e2;*/
    /*background: #7D9DFF;*/
    background: #B7CFFF;
}

.ml-table-details>span {
    width: 20%;
}

.ml-table-details-6 {
    display: flex;
    padding-left: 55px;
    /*background: #CDD0D5;*/
    /*background: #2f67e2;*/
    /*background: #7D9DFF;*/
    background: #B7CFFF;
}

.ml-table-details-6>span {
    width: 16.8%;
}

.li-circle {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle !important;
 }