.manager-map-container {
    margin-top: 10px;
    height: calc(100vh - 64px - 10px);
    height: -moz-calc(100vh - 64px - 10px);
    height: -webkit-calc(100vh - 64px - 10px);
    position: relative;
}

.manager-marker {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid;
    cursor: pointer;
}

.manager-overdue {
    border-color: red;
}

.manager-due {
     border-color: orange;
}

.manager-good {
     border-color: green;
}

.manager-unknown {
     border-color: grey;
}

.manager-online {
    background: #4052b5;
}

.manager-offline {
    background: grey;
}

.popup-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    padding: 5px;
    cursor: auto;
}

.popup-success {
    color: green;
}

.popup-danger {
    color: red;
}

.popup-grey {
    color: grey;
}

.popup-warning {
    color: orange;
}

.b-success {
    background: green;
}


.b-danger {
    background: red;
}

.b-grey {
    background: grey;
}

.b-warning {
    background: orange;
}

.b-info {
    background: #4052b5;
}

.popup-more-details {
    color: #191919 !important;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    margin: 5px 0;
    background: #f5f5f5;
    padding: 5px 0;
    border-radius: 2px;
}

.popup-more-details:hover {
    cursor: pointer;
    text-decoration: underline;
}
