.dialog-container {
    /* background-color: #ffffff; */
    padding: 20px;
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
  }
  
.selector-modal-title .dialog-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    justify-content: space-between;
}

.dialog-container .selector-modal-title .dialog-title #long{
    color: #0560c9;
    font-size: 1rem;
    font-weight: bold;
}

.dialog-title span {
    color: #008000;
    font-size: 1rem;
    font-weight: bold;
    justify-content: end;

}

.dialog-content {
    margin-bottom: 20px;
    justify-content: flex-end;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
}

.dialog-actions Button {
    background-color: #0560c9;
    /* color: #0560c9; */
    border: none;
    color:#ffff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.dialog-actions Button:hover {
    background-color: green;
}
  
.modal-site-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    justify-content: space-between;
}

.dialog-content .modal-site-item #long_name {
    font-size: 1rem;
    font-weight: bold;
}

.dialog-content .modal-site-item #sites {
    color: #008000;
    font-size: 1rem;
    font-weight: bold;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 100px; 

}

.modal-site-item:hover {
  background-color: #aaaaaa;
}

.dropdown {
    color: #0560c9;
    font-size: 1rem;
    font-weight: bold;
}

.dd-reload {
    top: 0;
    left: 150px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    /*border: 1px solid red;*/
  }
  
  .dd-reload:hover {
    cursor: pointer;
  }
  
  .dd-reload:hover > svg {
    font-size: 2rem;
  }
