.pc-dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}


.dd-input {
  display: none;
}

.pc-dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  width: 100%;
  z-index: 2000;
}

.dd-input + .pc-dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.pc-dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  color: #151515;
}

.pc-dd-menu li span {
  color: green;
  font-size: 0.6rem;
}

.pc-dd-menu li:hover {
  background-color: #f6f6f6;
  color: #646262
}

.pc-dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.pc-dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.pc-dd-menu .pc-empty {
  color: #069be5;
}