.pc-dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}


.dd-input {
  display: none;
}

.pc-dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  min-width: 100%;
  z-index: 2000;
  max-height: 40vh;
  overflow: scroll;
}

.dd-input + .pc-dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.pc-dd-menu li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  color: #151515;
  font-size: 0.8rem;
}

.pc-label-common {
  font-size: 0.6rem;
}
.pc-Good {
  color: #45e50e;
}

.pc-Moderate {
  color: #cacd05;
}

.pc-dd-menu li .Moderatex {
  color: #f8fd29;
}

.pc-UHFSG {
  color: #ee8311;
}

.pc-Unhealthy {
  color: #fa1001;
}

.pc-Very-Unhealthy {
  color: #8639c0;
}

.pc-Hazardous {
  color: #81202f;
}

.pc-dd-menu li:hover {
  background-color: #f6f6f6;
  color: #646262
}

.pc-dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.pc-dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.pc-dd-menu .pc-empty {
  color: #069be5;
}