replicaCount: 1
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-next-platform
  pullPolicy: Always
  tag: stage-afdafa18-1690385335
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 31107
ingress:
  enabled: false
resources:
  limits:
    cpu: 200m
    memory: 700Mi
  requests:
    cpu: 100m
    memory: 250Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 10
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - general-purpose
      - weight: 1
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - high-memory
app:
  name: airqo-stage-next-platform
  label: sta-next-platform
  namespace: staging
  configmap: env-next-platform-staging
