replicaCount: 1
image:
  repository: eu.gcr.io/airqo-250220/airqo-next-platform
  pullPolicy: Always
  tag: prod-90b9ff2b-1700206375
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: NodePort
  port: 3000
  protocol: TCP
  targetPort: 3000
  nodePort: 30103
ingress:
  enabled: false
resources:
  limits:
    cpu: 200m
    memory: 700Mi
  requests:
    cpu: 100m
    memory: 250Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 70
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 10
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - general-purpose
      - weight: 1
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - high-memory
app:
  name: airqo-next-platform
  label: airqo-next-platform
  namespace: production
  configmap: env-next-platform-production
