replicaCount: 2
image:
  repository: eu.gcr.io/airqo-250220/airqo-stage-inventory
  tag: stage-881acf30-1730309646
  pullPolicy: Always
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
service:
  type: NodePort
  nodePort: 31108
  targetPort: 8000
  port: 8000
ingress:
  enabled: false
nodeSelector: 
  role: control-plane
torelations: {}
resources:
  requests:
    cpu: 10m
    memory: 20Mi
  limits:
    cpu: 50m
    memory: 150Mi
autoscaling:
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
          - key: role
            operator: In
            values:
            - control-plane
        weight: 1
app:
  name: airqo-stage-inventory
  label: airqo-inventory
  namespace: staging
  configmap: env-inventory-staging
