.loader-container {
  width: 100%;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 0%;
  height: 100%;
  transition: width 0.5s ease-in-out;
  animation: 0.5s linear infinite;
}
