page-news-details {
  
  img {
    width: auto;
    height: auto;
    object-fit: cover;
  }

  .title {
    font-weight: 600;
    font-size: 1.2em;
  }
  .date {
    color: grey;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}
