page-contact-modal {

    ion-icon {
        color: color($colors, airqo_blue) !important;
        font-weight: bold;
    }

    ion-icon.close-icon {
        color: color($colors, airqo_white) !important;
        font-weight: bold;
    }

    .item-text {
        font-weight: 300;
        color: $airqo_dark_blue;
    }
}
